@import '../abstract/mixins';
@import '../abstract/variaveis'; 


.title_container{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 24px;
    .titulo_pub{
        width: fit-content;
        text-align: center;
        font-weight: bold;
        padding: 1rem;
        display: flex;
        gap: 10px;
        color: $cor-principal-escura;

    }
}


.pubContent{
    width: 100%;
    padding: 1.5rem;


        form {
            width: 100%;    
            display: flex;
            @include alignCenter(column,wrap,center,start);
            gap: 30px;

            
            &.form_resenha{
                .inputs_container{
                    display: flex;
                    @include alignCenter(row , wrap , start, center);

                    gap: 20px;
                    width: 100%;
                    input{
                        width: 100%;
                        max-width: 500px;
                        height: 100%;
                        max-height: 50px;
                        border: none;
                        border: 1px solid $cor-principal;
                        padding: 1rem;
                        border-radius: 15px;
                        outline: none;
                        transition: all .2s;
                        position: relative;
                        &:hover ,  &:focus{
                            border: 1px solid $cor-principal-clara;
                        }
                                                
                    }
                    .title-inputs{
                        width:100%;
                        max-width: 500px;
                        height: auto;
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                        .tags-container{
                            max-width: 500px;
                            height: auto;
                            #tags{
                                width: 100%;
                                height: 100%;
                                border: 1px solid $cor-principal;
                                border-radius: 15px;
                                padding: 1rem;
                                outline: none;
                                resize: none;
                                &:hover ,  &:focus{
                                    border: 1px solid $cor-principal-clara;
                                }
                            }
                            #tags-preview{
                                display: flex;
                                flex-wrap: wrap;
                                height: auto;
                                max-height: 100px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                                gap: 5px;
                                .tag{
                                    max-width: 100%;
                                    
                                    padding: .4rem;
                                    border-radius: 15px;
                                    color: $cor-fundo;
                                    background: $cor-terciaria;
                                    font-size: $fs-text;
                                    
                                }
                            }
                        }
                      
                    }

                    #image_resenha{
                        margin-top: 3rem;
                        width: 100%;
                        max-width: fit-content;
                        position: relative;
                        &:hover{
                            label{
                                color: $cor-principal-clara;
                            }
                        }
                        p{
                            position: absolute;
                            top: -50px;
                            text-align: center;
                            font-size: $fs-text / 1;
                            max-width: 150px;
                            margin-bottom: 5px;
                        }
                        label{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50% , -50%);
                            color: $cor-principal;
                            transition: color .2s;
                        }
                        input[type="file"]{
                        width: 100%;
                        height: 100%;
                        max-width: 150px;
                        height: 100vh;
                        max-height: 180px;
                        color: transparent;

                        &::-webkit-file-upload-button{
                        display: none;
                    }  
                    }
                   
                    }
                    
                
            }

            .descri_container{
                
                overflow: hidden;
                width: 100%;
                max-width: 1000px;
                p{
                    font-weight: bold;
                    font-size: $fs-text;
                    color: $cor-principal-escura;
                }
                textarea{
                    width: 100%;
                    height: 100%;
                    border: 1px solid $cor-principal;
                    outline: none;
                    padding: 1rem;
                    resize: none;
                    border-radius: 5px;
                }
            }
                fieldset{
                    margin-top: 20px;
                    padding: .5rem;
                    width: 100%;
                    max-width: 1000px;
                    border: 1.5px solid $cor-principal;
                    border-radius: 5px;
                    legend{
                        padding: 0  5px;
                        color: $cor-principal-escura;
                        font-weight: bold;
                    }
                    textarea{
                        width: 100%;
                        outline:none;
                        border: none;
                        padding: .2rem 1rem;
                        resize: none;

                    }
                }

               
                .enviar_inputs{
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    max-width: 1000px;
                    justify-content: start;
                    .erase_btn{
                        width: 50px;
                        border: none;
                        background: $danger-color;
                        font-weight: bolder;
                        font-size: $fs-title / 1.3;
                        border-radius: 5px;
                        transition: transform .2s,
                        box-shadow .2s ;
                        color: $cor-fundo;
                        &:hover{
                            box-shadow: 1px 2px 5px #000000;
                            transform: translateY(-5px);
                           
                        }
                    }
                    .submit_resenha{
                        background-color: $cor-principal;
                        color: $cor-fundo;
                        width: 100%;
                        max-width: 220px;
                        border-radius: 5px;
                        outline: none;
                        padding: 1rem;
                        border: none;
                        transition: all .2s;
                        &:hover{
                            background-color: $cor-secundaria-escura;
                            border: none;
                            color: $cor-texto;
                            box-shadow: 1px 2px 5px #0000005d;
                            transform: translateY(-5px);
                        }
                        
                    }
                }
            }

            &.form_videos{
                .inputs_container{
                    display: flex;
                    @include alignCenter(row , wrap , start, center);

                    gap: 20px;
                    width: 100%;
                    input{
                        width: 100%;
                        max-width: 500px;
                        height: 100%;
                        max-height: 50px;
                        border: none;
                        border: 1px solid $cor-principal;
                        padding: 1rem;
                        border-radius: 15px;
                        outline: none;
                        transition: all .2s;
                        position: relative;
                        &:hover ,  &:focus{
                            border: 1px solid $cor-principal-clara;
                        }
                        
                        }
                       
                        
                    .title-inputs{
                        width:100%;
                        max-width: 500px;
                        height: auto;
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                        .video_input{
                            position: relative;
                            label{
                                font-size: $fs-text* 1.1;
                                color: $cor-principal;
                                margin:0 0 1rem 1rem;
                            }
                            input[type="file"]{
                                padding: 2rem;
                                color: transparent;
                                &::-webkit-file-upload-button{
                                    display: none;
                                }
                               
                            }                       
                        }
                        .tags-container{
                            max-width: 500px;
                            height: auto;
                            #tags{
                                width: 100%;
                                height: 100%;
                                border: 1px solid $cor-principal;
                                border-radius: 15px;
                                padding: 1rem;
                                outline: none;
                                resize: none;
                                &:hover ,  &:focus{
                                    border: 1px solid $cor-principal-clara;
                                }
                            }
                            #tags-preview{
                                display: flex;
                                flex-wrap: wrap;
                                height: auto;
                                max-height: 100px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                                gap: 5px;
                                padding: 1rem;
                                .tag{
                                    max-width: 100%;
                                    
                                    padding: .4rem;
                                    border-radius: 15px;
                                    color: $cor-fundo;
                                    background: $cor-terciaria;
                                    font-size: $fs-text;
                                    
                                }
                            }
                        }
                       
                      
                    }

                    #image_video{
                        margin-top: 3rem;
                        width: 100%;
                       
                        max-width: fit-content;
                        position: relative;
                        &:hover{
                            label{
                                color: $cor-principal-clara;
                            }
                        }
                        p{
                            position: absolute;
                            top: -50px;
                            left: 50%;
                            width: 100%;
                            transform: translateX(-50%);
                            text-align: center;
                            font-size: $fs-text / 1;
                            max-width: 150px;
                            margin-bottom: 5px;
                        }
                        label{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50% , -50%);
                            color: $cor-principal;
                            transition: color .2s;
                        }
                        input[type="file"]{
                        width: 100%;
                        height: 100%;
                        max-width:200px;
                        height: 100vh;
                        max-height: 280px;
                        color: transparent;

                        &::-webkit-file-upload-button{
                        display: none;
                    }  
                    }
                   
                    }
                    
                
            }
        

                .descri_container{
                
                    overflow: hidden;
                    width: 100%;
                    max-width: 1000px;
                    p{
                        font-weight: bold;
                        font-size: $fs-text;
                        color: $cor-principal-escura;
                    }
                    textarea{
                        width: 100%;
                        height: 100%;
                        border: 1px solid $cor-principal;
                        outline: none;
                        padding: 1rem;
                        resize: none;
                        border-radius: 5px;
                    }
                }
                .enviar_inputs{
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    justify-content: start;
                    .erase_btn{
                        width: 50px;
                        border: none;
                        background: $danger-color;
                        font-weight: bolder;
                        font-size: $fs-title / 1.3;
                        border-radius: 5px;
                        transition: transform .2s,
                        box-shadow .2s ;
                        color: $cor-fundo;
                        &:hover{
                            box-shadow: 1px 2px 5px #000000;
                            transform: translateY(-5px);
                           
                        }
                    }
                    .submit{
                        background-color: $cor-principal;
                        color: $cor-fundo;
                        width: 100%;
                        max-width: 220px;
                        border-radius: 5px;
                        outline: none;
                        padding: 1rem;
                        border: none;
                        transition: all .2s;
                        &:hover{
                            background-color: $cor-secundaria-escura;
                            border: none;
                            color: $cor-texto;
                            box-shadow: 1px 2px 5px #0000004d;
                            transform: translateY(-5px);
                        }
                        
                    }
                }
            }
            &.form_fichas{
                
            }  

}
}

@media (max-width:425px){
    .form_resenha , .form_video , .form_fichas{
    #image_resenha{
        width: 100%;
        max-width: fit-content;
        position: relative;
        &:hover{
            label{
                color: $cor-principal-clara;
            }
        }
        p{
            position: absolute;
            top: -50px;
            text-align: center;
            font-size: $fs-text / 1;
            max-width: 150px;
            margin-bottom: 5px;
        }
        label{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            color: $cor-principal;
            transition: color .2s;
        }
        input[type="file"]{
        width: 100%;
        height: 100%;
        max-width: 150px;
        height: 100vh;
        max-height: 180px;
        color: transparent;

        &::-webkit-file-upload-button{
        display: none;
    }  
    }
   
    }
    } 

}



