.pubForm_container{
    background: var(--cor-fundo);
    max-width: 1000px;
    border-radius: 15px;
}
.pubForm_container .form-control{
    border: 1px solid var(--cor-principal);
}
.dark .pubForm_container .form-control{
    border: 1px solid var(--cor-principal);
 
   
}
.pubForm_container label{
    
    color: var(--cor-principal);
}
.pubForm_container .form-floating > .form-control:focus~label{
    color: var(--cor-principal);
}
.pubForm_container .form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background: transparent ;
    color: var(--cor-principal);
}
.pubForm_container textarea{
    resize: none;
}


.btn__homeback {
    display: flex;
    color: var(--cor-secundaria);
    border-radius: 50%;
    z-index: 100;
    transition: color ease 0.2s;
    border: none;
    outline: none;
    background-color: transparent;
    
  }
  .btn__homeback i {
    font-size: 50px;
    margin: auto;
  }
  .btn__homeback:hover {
    color: var(--cor-secundaria-escura);
  }

.titulo_pub{
    color: var(--cor-secundaria);
}

#image_container , .addPrevia , .previaItem {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 266px;
    border: 1px solid var(--cor-principal);
    border-radius: 15px;
    position: relative;
    transition: all ease-in .2s;
    z-index: 1;
    background-size:100% 100%;
    object-position: center;
    
}

@media (max-width:768px) {
    
#image_container , .addPrevia, .previaItem {
    max-width: 150px;
    max-height: 300px;
}
}


#image_container label , .addPrevia label{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--cor-principal);
    z-index: 100;
    width: fit-content;
    
}
#image_container:hover, .addPrevia:hover , .previaItem:hover {
    background: var(--cor-principal);
    background-size:100% 100%;
}
#image_container:hover label , .addPrevia:hover label{
    color: var(--cor-fundo);

}


#inputImage , #inputPrevia{
    cursor: pointer;
    color: transparent;
}
#inputImage::-webkit-file-upload-button , #inputPrevia::-webkit-file-upload-button{
    display: none;
}
label{
    width: 100%;
}

.tag{
    width: fit-content;
    max-width: 100%;
    text-wrap: wrap;
    background: var(--cor-terciaria);
    color: #ffffff;
    margin: 5px;
    padding: .2rem .6rem;
    font-weight: bold;
    border-radius: 15px;
    font-size: 16px;
}


.btn-pub{
    background: var(--cor-secundaria);
}

.btn-pub:hover{
    background: var(--cor-secundaria-escura);
}


#containerVideo{
    display: none;
    object-fit: contain;
    max-height: 450px
}

.previaContainer{
    margin: .6rem 0;
}

.previaContainer h5{
    color:var(--cor-principal);
}

.addPrevia ,.previaItem {
    max-width: 180px;
    min-height: 266px;
}
.previaItem img{
    width: 100%;
    height: 100%; 
}