@import url("pub.css");
@import url('pub_form.css');

.inputs_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.inputs_container input {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 50px;
  border: none;
  border: 1px solid var(--cor-principal);
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  transition: all 0.2s;
  position: relative;
}
.inputs_container input:hover, .inputs_container input:focus {
  border: 1px solid #DA9AF8;
}
.inputs_container .title-inputs {
  width: 100%;
  max-width: 500px;
  height: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.inputs_container .title-inputs .tags-container {
  max-width: 500px;
  height: auto;
}
.inputs_container .title-inputs .tags-container #tags {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cor-principal);
  border-radius: 15px;
  padding: 1rem;
  outline: none;
  resize: none;
}
.inputs_container .title-inputs .tags-container #tags:hover, .inputs_container .title-inputs .tags-container #tags:focus {
  border: 1px solid #DA9AF8;
}
.inputs_container .title-inputs .tags-container #tags-preview {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
}
.inputs_container .title-inputs .tags-container #tags-preview .tag {
  max-width: 100%;
  padding: 0.4rem;
  border-radius: 15px;
  color: white;
  background: #508CD3;
  font-size: 15px;
}
.inputs_container #image_resenha {
  margin-top: 3rem;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
}
.inputs_container #image_resenha:hover label {
  color: #DA9AF8;
}
.inputs_container #image_resenha p {
  position: absolute;
  top: -50px;
  text-align: center;
  font-size: 15px;
  max-width: 150px;
  margin-bottom: 5px;
}
.inputs_container #image_resenha label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--cor-principal);
  transition: color 0.2s;
}
.inputs_container #image_resenha input[type=file] {
  width: 100%;
  height: 100%;
  max-width: 150px;
  height: 100vh;
  max-height: 180px;
  color: transparent;
}
.inputs_container #image_resenha input[type=file]::-webkit-file-upload-button {
  display: none;
}
.descri_container {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
}
.descri_container p {
  font-weight: bold;
  font-size: 15px;
  color: var(--cor-principal-escura);
}
.descri_container textarea {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cor-principal);
  outline: none;
  padding: 1rem;
  resize: none;
  border-radius: 5px;
}
fieldset {
  margin-top: 20px;
  padding: 0.5rem;
  width: 100%;
  max-width: 1000px;
  border: 1.5px solid var(--cor-principal);
  border-radius: 5px;
}
fieldset legend {
  padding: 0 5px;
  color: var(--cor-principal-escura);
  font-weight: bold;
}
fieldset textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.2rem 1rem;
  resize: none;
}
.enviar_inputs {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  justify-content: start;
}
.enviar_inputs .erase_btn {
  width: 50px;
  border: none;
  background: #e21d1d;
  font-weight: bolder;
  font-size: 15.3846153846px;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  color: white;
}
.enviar_inputs .erase_btn:hover {
  box-shadow: 1px 2px 5px #000000;
  transform: translateY(-5px);
}
.enviar_inputs .submit_resenha {
  background-color: var(--cor-principal);
  color: white;
  width: 100%;
  max-width: 220px;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  border: none;
  transition: all 0.2s;
}
.enviar_inputs .submit_resenha:hover {
  background-color: #F2921D;
  border: none;
  color: #151515;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3647058824);
  transform: translateY(-5px);
}
.pubContent form.form_videos .inputs_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.pubContent form.form_videos .inputs_container input {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 50px;
  border: none;
  border: 1px solid var(--cor-principal);
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  transition: all 0.2s;
  position: relative;
}
.pubContent form.form_videos .inputs_container input:hover, .pubContent form.form_videos .inputs_container input:focus {
  border: 1px solid #DA9AF8;
}
.pubContent form.form_videos .inputs_container .title-inputs {
  width: 100%;
  max-width: 500px;
  height: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.pubContent form.form_videos .inputs_container .title-inputs .video_input {
  position: relative;
}
.pubContent form.form_videos .inputs_container .title-inputs .video_input label {
  font-size: 16.5px;
  color: var(--cor-principal);
  margin: 0 0 1rem 1rem;
}
.pubContent form.form_videos .inputs_container .title-inputs .video_input input[type=file] {
  padding: 2rem;
  color: transparent;
}
.pubContent form.form_videos .inputs_container .title-inputs .video_input input[type=file]::-webkit-file-upload-button {
  display: none;
}
.pubContent form.form_videos .inputs_container .title-inputs .tags-container {
  max-width: 500px;
  height: auto;
}
.pubContent form.form_videos .inputs_container .title-inputs .tags-container #tags {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cor-principal);
  border-radius: 15px;
  padding: 1rem;
  outline: none;
  resize: none;
}
.pubContent form.form_videos .inputs_container .title-inputs .tags-container #tags:hover, .pubContent form.form_videos .inputs_container .title-inputs .tags-container #tags:focus {
  border: 1px solid #DA9AF8;
}
.pubContent form.form_videos .inputs_container .title-inputs .tags-container #tags-preview {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
  padding: 1rem;
}
.pubContent form.form_videos .inputs_container .title-inputs .tags-container #tags-preview .tag {
  max-width: 100%;
  padding: 0.4rem;
  border-radius: 15px;
  color: white;
  background: #508CD3;
  font-size: 15px;
}
.pubContent form.form_videos .inputs_container #image_video {
  margin-top: 3rem;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
}
.pubContent form.form_videos .inputs_container #image_video:hover label {
  color: #DA9AF8;
}
.pubContent form.form_videos .inputs_container #image_video p {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
  max-width: 150px;
  margin-bottom: 5px;
}
.pubContent form.form_videos .inputs_container #image_video label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--cor-principal);
  transition: color 0.2s;
}
.pubContent form.form_videos .inputs_container #image_video input[type=file] {
  width: 100%;
  height: 100%;
  max-width: 200px;
  height: 100vh;
  max-height: 280px;
  color: transparent;
}
.pubContent form.form_videos .inputs_container #image_video input[type=file]::-webkit-file-upload-button {
  display: none;
}
.pubContent form.form_videos .descri_container {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
}
.pubContent form.form_videos .descri_container p {
  font-weight: bold;
  font-size: 15px;
  color: var(--cor-principal-escura);
}
.pubContent form.form_videos .descri_container textarea {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cor-principal);
  outline: none;
  padding: 1rem;
  resize: none;
  border-radius: 5px;
}
.pubContent form.form_videos .enviar_inputs {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: start;
}
.pubContent form.form_videos .enviar_inputs .erase_btn {
  width: 50px;
  border: none;
  background: #e21d1d;
  font-weight: bolder;
  font-size: 15.3846153846px;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  color: white;
}
.pubContent form.form_videos .enviar_inputs .erase_btn:hover {
  box-shadow: 1px 2px 5px #000000;
  transform: translateY(-5px);
}
.pubContent form.form_videos .enviar_inputs .submit {
  background-color: var(--cor-principal);
  color: white;
  width: 100%;
  max-width: 220px;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  border: none;
  transition: all 0.2s;
}
.pubContent form.form_videos .enviar_inputs .submit:hover {
  background-color: #F2921D;
  border: none;
  color: #151515;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3019607843);
  transform: translateY(-5px);
}
@media (max-width: 425px) {
  .form_resenha #image_resenha, .form_video #image_resenha, .form_fichas #image_resenha {
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: relative;
  }
  .form_resenha #image_resenha:hover label, .form_video #image_resenha:hover label, .form_fichas #image_resenha:hover label {
    color: #DA9AF8;
  }
  .form_resenha #image_resenha p, .form_video #image_resenha p, .form_fichas #image_resenha p {
    position: absolute;
    top: -50px;
    text-align: center;
    font-size: 15px;
    max-width: 150px;
    margin-bottom: 5px;
  }
  .form_resenha #image_resenha label, .form_video #image_resenha label, .form_fichas #image_resenha label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-principal);
    transition: color 0.2s;
  }
  .form_resenha #image_resenha input[type=file], .form_video #image_resenha input[type=file], .form_fichas #image_resenha input[type=file] {
    width: 100%;
    height: 100%;
    max-width: 150px;
    height: 100vh;
    max-height: 180px;
    color: transparent;
  }
  .form_resenha #image_resenha input[type=file]::-webkit-file-upload-button, .form_video #image_resenha input[type=file]::-webkit-file-upload-button, .form_fichas #image_resenha input[type=file]::-webkit-file-upload-button {
    display: none;
  }
}/*# sourceMappingURL=pub_grid.css.map */