input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid "cor que voce quer";
    padding: 20px;
    outline: none;
}
input::placeholder{
    color: "cor que voce quer";
}