<link rel="stylesheet" href="./css/login/entrar.css">
<main>

    <section class="section__login">
        <article class="fundo__login">
            <figure class="logo-login">
                <img src="./img/quasart_logo_branca.png" alt="logo do Quasart">
            </figure>
        </article>
        <article class="container__form">
            <header class="form__title">
                <h2 class="title">LOGIN</h2>
                <h3 class="subtitle">Seja bem-vindo novamente tripulante!</h3>
            </header>
            <form action="/logarConta" method="get">
                <article class="input__container">
                    <input type="text" name="usuario" id="usuario" class="input__control">
                    <label for="usuario">Usuário:</label>
                </article>
            </form>
        </article>
    </section>

</main>