<main>
    <style>
        .section__login{
            --cor-login:var(--cor-secundaria);
            --cor-login-hover:var(--cor-secundaria-hover);
        }
    </style>
    <section class="section__login">
        <article class="fundo__login">
            <figure class="logo-login">
                <img src="./img/quasart_logo_branca.png" alt="logo do Quasart">
            </figure>
        </article>
        <article class="container__form">
            <header class="form__title">
                <h2 class="subtitle">Entrar</h2>
            </header>
            <form action="/logarConta" method="get">
                <article class="input-container">
                    <input type="text" name="usuario" id="usuario">
                    <label for="usuario">Usuário:</label>
                </article>
            </form>
        </article>
    </section>

</main>