.homebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

    & i {
        font-size: 20px;
    }
}

.user-incorrect {
    color: var(--cor-danger);
    padding: 1rem;
    text-align: center;
    background: #ffb2b281;
    border: 1px solid var(--cor-danger);
    border-radius: 10px;
    display: none;

    &.ativado {
        display: block;
    }
}

.section__login {
    --cor-login: none;
    --cor-login-hover: none;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;

    & .text.helpText {
        text-align: center;
        color: var(--cor-texto);
    }

    & .btn {
        background: var(--cor-login);

        &:hover {
            background: var(--cor-login-hover);
        }
    }

    .container__form {
        background: var(--cor-containers);
        width: 100%;
        min-height: 100vh;
        padding: clamp(.6rem, 5vw, 3rem) clamp(.6rem, 5vw, 4rem);

        & form {
            max-width: 600px;
            margin: auto;
        }
    }

    & .links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 2rem;

        & .link {
            color: var(--cor-login);

            &:hover {
                color: var(--cor-login-hover);
            }
        }
    }

    & .form__title {
        padding: 3rem 0;
        text-align: center;
        color: var(--cor-login);

        & h3,
        & h2 {
            display: block;
            margin: 10px 0;
        }
    }

    & .input__container {
        border: 1px solid var(--cor-login);

    }

}

.fundo__login {
    width: 100%;
    background: var(--cor-login);
    position: relative;
    overflow: visible;
    height: clamp(50px, 20vh, 100px);

    & .logo-login {
        position: absolute;
        width: auto;
        height: auto;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        border: 6px solid var(--cor-containers);
        background: var(--cor-login);
        z-index: 50;
        padding: 1.2rem;

    }
}

.modal {
    background: #0000001a;

    & .closeBtn {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        background: var(--cor-login);

        &:hover {
            background: var(--cor-login-hover);
        }
    }

    & .modal__content {
        border: 1px solid var(--cor-login-hover);
        width: auto;
        max-width: 768px;

        & .modal__title {
            color: var(--cor-login);
        }


        & form {
            max-width: 600px;
            width: 100%;
            margin: auto;
            padding: 1rem;

            & .inputs__numbers {
                display: flex;
                justify-content: center;
                gap: 10px;


                & .numberToken {
                    outline: none;
                    background: transparent;
                    color: var(--cor-texto);
                    padding: 1.5rem 1rem 1.2rem 1rem;
                    width: 20%;
                    max-width: 80px;
                    font-family: 'Questrial', Verdana;
                    font-size: var(--fs-subtitle);
                    border: 1px solid var(--cor-login);
                    border-radius: 10px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width:769px) {
    .section__login {
        & .fundo__login {
            min-height: 100vh;
            height: auto;
            max-width: 400px;
        }
    }

}