.section__login {
    --cor-login: none;
    --cor-login-hover: none;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
}

.container__form {
    background: var(--cor-containers);
    width: 100%;
    padding: 3rem 4rem;
    & .form__title{
        padding: 3rem 0;
        text-align: center;
        color: var(--cor-login);
        & h3 , & h2{
            display: block;
            margin: 10px 0;
        }
    }
    & .input__container{
        border:1px solid var(--cor-login);
        width: 100%;
    }
}

.fundo__login {
    width: 100%;
    background: var(--cor-login);
    position: relative;
    overflow: visible;
    height: clamp(50px, 20vh, 100px);
    & .logo-login {
        position: absolute;
        width: auto;
        height: auto;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        border: 4px solid var(--cor-containers);
        background: var(--cor-login);
        z-index: 50;
        padding: 1.2rem;

        & img {
            width: clamp(45px, 1vw, 60px );
        }
    }
}