/* import de fontes google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&display=swap');

:root {
    /* Cores */
    --cor-principal: #FD9C4D;
    --cor-principal-hover: #ffc79a;
    --cor-secundaria: #582255;
    --cor-secundaria-hover: #9A3198;
    --cor-fundo: #F3F8FF;
    --cor-containers: #fff;
    --cor-texto: #2C2C2C;
}

.text {
    font-weight: 400;
    font-family: 'Poppins', Verdana;
    font-size: clamp(13px, 2vw, 16px);
}

.title {
    font-weight: 700;
    font-family: 'Montserrat', Arial;
    font-size: clamp(28px, 3vw, 32px);
}

.subtitle {
    font-weight: normal;
    font-family: 'Questrial', sans-serif;
    font-size: clamp(20px, 2.5vw, 22px);
}

.supertitle {
    font-weight: 700;
    font-family: 'Poppins', Verdana;
    font-size: clamp(32px, 2vw, 40px);
    letter-spacing: 1px;
}

.tipografia {
    font-weight: normal;
    font-family: 'Jost', sans-serif;
    font-size: clamp(24px, 3vw, 28px);
}

.negrito-amarelo {
    color: var(--cor-principal);
    font-weight: bold;
    font-size: calc(clamp(13px, 2vw, 16px) + 2px);
}

.negrito-roxo {
    color: var(--cor-secundaria-hover);
    font-weight: bold;
    font-size: calc(clamp(13px, 2vw, 16px) + 2px);
}