/* import de fontes google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&display=swap');

:root {
    /* Cores */
    --cor-principal: #E6781E;
    --cor-principal-hover: #ffc79a;
    --cor-secundaria: #9A3198;
    --cor-secundaria-hover: #9c5d9e;
    --cor-fundo: #F3F8FF;
    --cor-fundo2: #F8F6F4;
    --cor-containers: #fff;
    --cor-texto: #2C2C2C;
    --cor-danger: #f56b6b;
    --cor-success: #7ABA78;
    --cor-warning: #ffe06e;
    /* Fontes */
    --fs-text: clamp(13px, 2vw, 1px);
    --fs-link: clamp(13px, 2vw, 15px);
    --fs-title: clamp(28px, 3vw, 32px);
    --fs-subtitle: clamp(20px, 2.5vw, 22px);
    --fs-supertitle: clamp(32px, 8vw, 40px);
    --fs-smalltext: clamp(11px, 2vw, 12px);
    --fs-tipografiaLogo: clamp(24px, 3vw, 28px);
    --ff-text: 'Poppins', Verdana;
    --ff-title: 'Montserrat', Arial;
    --ff-subtitle: 'Montserrat', Arial;
    --ff-supertitle: 'Poppins', Verdana;
    --ff-tipografiaLogo: 'Jost', monospace;
    --ff-smallText: 'Questrial', sans-serif;
    --ff-link: 'Questrial', monospace;
    /* diversos */
    --aside-width: 105px;
    --space-1: 0.5rem !important;
    --space-2: 1rem !important;
    --space-3: 2rem !important;
    --container-padding-landing: 10rem clamp(2rem, 10%, 6rem) 0 clamp(2rem, 10%, 6rem);
}

.dark {
    --cor-fundo: #0E1631;
    --cor-fundo2: #142D4C;
    --cor-containers: #1C284E;
    --cor-texto: #fff;
    --cor-secundaria: #892c96;
}

.tipografiaFacil * {
    --ff-text: Verdana !important;
    --ff-title: Arial !important;
    --ff-subtitle: Arial !important;
    --ff-supertitle: Verdana !important;
    --ff-tipografiaLogo: monospace !important;
    --ff-smallText: sans-serif !important;
    --ff-link: monospace !important;
}

.sublinhado a {
    text-decoration: underline !important;
}


.aumentada {
    --fs-text: calc(clamp(13px, 2vw, 1px) + 5px);
    --fs-link: calc(clamp(13px, 2vw, 15px) + 5px);
    --fs-title: calc(clamp(28px, 3vw, 32px) + 8px);
    --fs-subtitle: calc(clamp(20px, 2.5vw, 22px) + 8px);
    --fs-supertitle: calc(clamp(32px, 2vw, 40px) + 10px);
    --fs-tipografiaLogo: calc(clamp(24px, 3vw, 28px) + 10px);
    --fs-smalltext: calc(clamp(11px, 2vw, 12px) + 2px);
}

.diminuida {
    --fs-text: calc(clamp(13px, 2vw, 1px) - 5px);
    --fs-link: calc(clamp(13px, 2vw, 15px) - 5px);
    --fs-title: calc(clamp(28px, 3vw, 32px) - 8px);
    --fs-subtitle: calc(clamp(20px, 2.5vw, 22px) - 8px);
    --fs-supertitle: calc(clamp(32px, 2vw, 40px) - 10px);
    --fs-tipografiaLogo: calc(clamp(24px, 3vw, 28px) - 10px);
    --fs-smalltext: calc(clamp(11px, 2vw, 12px) - 2px);
}

.text {
    text-decoration: none;
    font-weight: 400;
    font-family: var(--ff-text);
    font-size: var(--fs-text);
}

.title {
    text-decoration: none;
    font-weight: 800;
    font-family: var(--ff-title);
    font-size: var(--fs-title);
}

.subtitle {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--ff-subtitle);
    font-size: var(--fs-subtitle);
}

.supertitle {
    text-decoration: none;
    font-weight: 700;
    font-family: var(--ff-supertitle);
    font-size: var(--fs-supertitle);
    letter-spacing: 1px;
}

.tipografia {
    text-decoration: none;
    font-weight: normal;
    font-family: var(--ff-tipografiaLogo);
    font-size: var(--fs-tipografiaLogo);
}

.negrito-amarelo {
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: bold;
}

.negrito-roxo {
    color: var(--cor-secundaria-hover);
    text-decoration: none;
    font-weight: bold;
}

.smallText {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--fs-smalltext);
    font-family: var(--ff-smallText);
}

.link {
    font-size: var(--fs-link);
    font-family: var(--ff-link);
    text-decoration: none;
}

/* Margins */

.m-1 {
    margin: var(--space-1) !important;
}

.m-2 {
    margin: var(--space-2) !important;
}

.m-3 {
    margin: var(--space-3) !important;
}


.ms-1 {
    margin-left: var(--space-1) !important;
}

.ms-2 {
    margin-left: var(--space-2) !important;
}

.ms-3 {
    margin-left: var(--space-3) !important;
}

.mt-1 {
    margin-top: var(--space-1) !important;
}

.mt-2 {
    margin-top: var(--space-2) !important;
}

.mt-3 {
    margin-top: var(--space-3) !important;
}

.me-1 {
    margin-right: var(--space-1) !important;
}

.me-2 {
    margin-right: var(--space-2) !important;
}

.me-3 {
    margin-right: var(--space-3) !important;
}

.mb-1 {
    margin-bottom: var(--space-1) !important;
}

.mb-2 {
    margin-bottom: var(--space-2) !important;
}

.mb-3 {
    margin-bottom: var(--space-3) !important;
}

/* Paddings */

.p-1 {
    padding: var(--space-1) !important;
}

.p-2 {
    padding: var(--space-2) !important;
}

.p-3 {
    padding: var(--space-3) !important;
}


.ps-1 {
    padding-left: var(--space-1) !important;
}

.ps-2 {
    padding-left: var(--space-2) !important;
}

.ps-3 {
    padding-left: var(--space-3) !important;
}

.pt-1 {
    padding-top: var(--space-1) !important;
}

.pt-2 {
    padding-top: var(--space-2) !important;
}

.pt-3 {
    padding-top: var(--space-3) !important;
}

.pe-1 {
    padding-right: var(--space-1) !important;
}

.pe-2 {
    padding-right: var(--space-2) !important;
}

.pe-3 {
    padding-right: var(--space-3) !important;
}

.pb-1 {
    padding-bottom: var(--space-1) !important;
}

.pb-2 {
    padding-bottom: var(--space-2) !important;
}

.pb-3 {
    padding-bottom: var(--space-3) !important;
}