@import url("./header.css");
@import url("./inicial.css");
@import url("./sobre.css");
/* TELA MAIORES */

@media (min-width:992px) {
    .inicial__container .imagem-inicial {
        transform: rotate(-2deg) translateY(-20%) translateX(1vh);
        border-radius: 0 0 0 35%;
        object-position: right;
    }

    .inicial__container .slogan {
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% + -25vh));
        color: #ffffff;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 0 10%;
    }

    .landing__nav .menu-container {
        position: relative;
        top: 0%;
        right: 0%;
        padding: 0rem 0%;
        background:none;
        transform: translateX(0%);
    }

    .landing__nav .nav__list {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        align-items: center;
        gap: 1rem;
    }

    .landing__nav-btn {
        display: none;
    }

    .sobre__container .sobre__item{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
    } 
    .sobre__container .sobre__item:first-child{
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
        gap: 1rem;
    }
}