/* HEADER */
header.landing__header {
    background: #00000056;
    position: relative;
    z-index: 100;
}

.landing__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
    max-width: 992px;
    margin: 0 auto;
}

.landing__nav .logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .4rem;
    text-decoration: none;
    color: #ffffff;
}

.landing__nav .logo img {
    width: clamp(40px, 5%, 50px);
}

.landing__nav .nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.landing__nav .nav__list .nav__item {
    color: #ffffff;
    text-decoration: none;
    transition: color .3s;
}

.landing__nav .nav__list .nav__item:hover {
    color: var(--cor-principal-hover);
}

/* Container Inicial */

.inicial__container {
    position: relative;
    display: flex;
}

.inicial__container .imagem-inicial {
    width: clamp(900px, 110vw, 180vw);
    transform: rotate(-0deg) translateY(-20vh);
    border-radius: 0;
    object-position: right;
    box-shadow: 0 0 15px 5px #00000069;
}

@media (min-width:992px) {
    .inicial__container .imagem-inicial {
        transform: rotate(-2deg) translateY(-20vh);
        border-radius: 0 0 0 35%;
        object-position: right;
    }
}


.inicial__container .slogan {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    color: #ffffff;
    height: auto;
    display: flex;
    flex-flow: column nowrap    ;
}
.inicial__container .slogan .btn-outline-principal{
    width: fit-content;
}