.objetivo__container{
  padding: var(--container-padding);
}

.objetivo__content{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.objetivo__container .title{
   color: var(--cor-secundaria);
}

.objetivo__container .objetivo__content img {
    width: clamp(300px, 100%, 1024px);
    margin:0 auto;
}