.quemSomos__container {
    padding: var(--container-padding);
}

.quemSomos__container .title {
    color: var(--cor-principal);
}


.carousel__container {
    overflow: hidden;
    position: relative;
    padding: 5rem 0;
}

.carousel__container .arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__container .arrows .arrow-btn {
    font-size: 35px;
    outline: none;
    background: transparent;
    color: #fd9c4d;
    cursor: pointer;
    transition: font .3s, color .3s;
}

.carousel__container .arrows .arrow-btn:hover {
    color: var(--cor-principal);
    font-size: 45px;    
}

.carousel__container .carousel__inner{
    padding: 5rem 10% ;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.card__membro{
    padding: 5rem 4rem;
    box-shadow: 0 0 8px #00000048;
    border-radius: 10px;
    max-width: 400px;
    position: relative;
    border-bottom: 3px solid var(--cor-card);
    --cor-card:#2600ff;
}
.card__membro header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .6rem;
    text-align: center                          ;
}

.card__membro header .imagem__membro{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 8px #00000048;
}
.card__membro header .imagem__membro img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__membro i{
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cor-card);
}
.card__membro.active{
    
}
.card__membro .rm {
    color: var(--cor-card);
    font-weight: bold;
}