.sobre__container .sobre__item {
    padding: 80px 0 0 0;
    --cor-item:var(--cor-principal);
}

.sobre__container .sobre__item .sobre__item-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1440px;
    margin: auto;
    padding: 0 10%;
}
.sobre__container .sobre__item.roxo {
    --cor-item:var(--cor-secundaria);
    background: var(--cor-containers);
}


.sobre__container img {
    width: clamp(320px, 100%, 500px);
    height: clamp(320px, 100%, 500px);
}

.sobre__container .sobre__item .sobre__text .title {
    color: var(--cor-item);
}
