<article class="card__ficha">
    <a href="#" class="card__content">
        <img src="./img/cards/card-ficha-teste.png" alt="imagem da ficha">
        <article class="card-title">
            <h4 class="subtitle">Calor e Amor</h4>
        </article>
    </a>
    <footer class="card__autor">
        <article class="usuario">
            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
            <a href="/profile" class="smallText">Th0mzzz</a>
        </article>
        <p class="smallText">00/00/0000</p>
    </footer>
</article>