

<section class="cards__container mb-3 mt-3">
    <section class="cards__row">
        <article class="card__ficha">
            <a href="#" class="card__content">
                <img src="./img/cards/card-ficha-teste.png" alt="imagem da ficha">
                <article class="card-title">
                    <h4 class="subtitle">Calor e Amor</h4>
                </article>
            </a>
            <footer class="card__autor">
                <article class="usuario">
                    <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                    <a href="/profile" class="smallText">Th0mzzz</a>
                </article>
                <p class="smallText">00/00/0000</p>
            </footer>
        </article>
        <article class="card__ficha">
            <a href="#" class="card__content">
                <img src="./img/cards/card-ficha-teste3.png" alt="imagem da ficha">
                <article class="card-title">
                    <h4 class="subtitle">Caçada final</h4>
                </article>
            </a>
            <footer class="card__autor">
                <article class="usuario">
                    <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                    <a href="/profile" class="smallText">Fig.web</a>
                </article>
                <p class="smallText">11/04/2004</p>
            </footer>
        </article>
        <article class="card__ficha">
            <a href="#" class="card__content">
                <img src="./img/cards/card-ficha-teste4.png" alt="imagem da ficha">
                <article class="card-title">
                    <h4 class="subtitle">Massacre do Texas</h4>
                </article>
            </a>
            <footer class="card__autor">
                <article class="usuario">
                    <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                    <a href="/profile" class="smallText">Fig.web</a>
                </article>
                <p class="smallText">11/04/2004</p>
            </footer>
        </article>
        <article class="card__ficha">
            <a href="#" class="card__content">
                <img src="./img/cards/card-ficha-teste5.png" alt="imagem da ficha">
                <article class="card-title">
                    <h4 class="subtitle">2080: A incerteza futura</h4>
                </article>
            </a>
            <footer class="card__autor">
                <article class="usuario">
                    <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                    <a href="/profile" class="smallText">Mariana Ferraz</a>
                </article>
                <p class="smallText">11/04/2004</p>
            </footer>
        </article>
    </section>
</section>