@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("./abstract/variaveis.css");
@import url("./abstract/reset.css");

/* Componentes */
:root {
    --cor-btn: var(--cor-principal);
    --cor-btn-hover: var(--cor-principal-hover);
}

/* BTNS */
.btn {
    color: #ffffff;
    font-weight: 400;
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    text-decoration: none;
    background: var(--cor-btn);
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: background .3s, color .3s;
    border: 1px solid transparent;
    cursor: pointer;

    &.submit {
        width: 100%;
        border-radius: 50px;
    }
}

.btn.secundaria,
.btn-outline.secundaria {
    --cor-btn: var(--cor-secundaria);
    --cor-btn-hover: var(--cor-secundaria-hover);
}

.btn:hover,
.btn-outline:hover {
    color: #fff;
    background: var(--cor-btn-hover);
    border: 1px solid transparent;
}

.btn-outline {
    color: var(--cor-btn);
    font-weight: 400;
    font-size: clamp(13px, 2vw, 16px);
    font-family: 'Poppins';
    text-decoration: none;
    border: 1px solid var(--cor-btn);
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: background .3s, border .3s, color .3s;
    cursor: pointer;
}
.back-btn{
    border-radius: 50%;
    padding: .3em .9em;
    position: fixed;
    right: 5%;
    z-index: 100;
    bottom: 40%;
    transform: translateX(100vw);
    transition: transform .5s;
    & i{
        font-size: 28px;
    }

    &.ativo{
    transform: translateX(0%);

    }
}

/* INPUT */

.input__container {
    position: relative;
    border-radius: 10px;
    margin: .5rem 0;

    & input~label {
        position: absolute;
        left: 1rem;
        top: 50%;
        translate: 0 -50%;
        transition: all ease .3s;
        font-family: var(--ff-link);
        opacity: .5;
    }

    & input {
        outline: none;
        border: none;
        background: transparent;
        color: var(--cor-texto);
        padding: 1.5rem 1rem 1.2rem 1rem;
        width: 100%;
        font-family: 'Questrial', Verdana;
        font-size: var(--fs-text);

        &::placeholder {
            color: var(--cor-containers);
        }
    }

    & :is(input:focus, input:active, input:not(:placeholder-shown))~label {
        left: .8rem;
        top: 20%;
        font-size: var(--fs-smalltext);
    }

    & .ocultSenha {
        position: absolute;
        right: 1rem;
        top: 50%;
        translate: 0% -50%;
    }

    &.invalid {
        --cor-login: var(--cor-danger);
        margin-bottom: 2rem;
        & .invalid-msg {
            display: block;
        }
    }

    & .invalid-msg {
        display: none;
        color: var(--cor-danger);
        position: absolute;
        bottom: -30%;
        left: 1rem;
    }

}

/* MODAL */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none;

    &.show {
        display: flex;
    }

    & .closeBtn {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    & .modal__content {
        background: var(--cor-containers);
        margin: auto;
        border-radius: 10px;
        padding: 2rem clamp(1rem, 10vw, 4rem);

        & .modal__title {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

    }
}


/* Espaçamentos */

:root {
    --space-1: 0.5rem !important;
    --space-2: 1rem !important;
    --space-3: 2rem !important;
    --container-padding-landing: 10rem clamp(2rem, 10%, 6rem) 0 clamp(2rem, 10%, 6rem);
}

/* Margins */

.m-1 {
    margin: var(--space-1);
}

.m-2 {
    margin: var(--space-2);
}

.m-3 {
    margin: var(--space-3);
}


.ms-1 {
    margin-left: var(--space-1);
}

.ms-2 {
    margin-left: var(--space-2);
}

.ms-3 {
    margin-left: var(--space-3);
}

.mt-1 {
    margin-top: var(--space-1);
}

.mt-2 {
    margin-top: var(--space-2);
}

.mt-3 {
    margin-top: var(--space-3);
}

.me-1 {
    margin-right: var(--space-1);
}

.me-2 {
    margin-right: var(--space-2);
}

.me-3 {
    margin-right: var(--space-3);
}

.mb-1 {
    margin-bottom: var(--space-1);
}

.mb-2 {
    margin-bottom: var(--space-2);
}

.mb-3 {
    margin-bottom: var(--space-3);
}

/* Paddings */

.p-1 {
    padding: var(--space-1);
}

.p-2 {
    padding: var(--space-2);
}

.p-3 {
    padding: var(--space-3);
}


.ps-1 {
    padding-left: var(--space-1);
}

.ps-2 {
    padding-left: var(--space-2);
}

.ps-3 {
    padding-left: var(--space-3);
}

.pt-1 {
    padding-top: var(--space-1);
}

.pt-2 {
    padding-top: var(--space-2);
}

.pt-3 {
    padding-top: var(--space-3);
}

.pe-1 {
    padding-right: var(--space-1);
}

.pe-2 {
    padding-right: var(--space-2);
}

.pe-3 {
    padding-right: var(--space-3);
}

.pb-1 {
    padding-bottom: var(--space-1);
}

.pb-2 {
    padding-bottom: var(--space-2);
}

.pb-3 {
    padding-bottom: var(--space-3);
}