<link rel="stylesheet" href="./css/erros.css">

<section class="error__container">
    <header class="error-title">
        <h2 class="supertitle">ERRO 404</h2>
        <h4 class="subtitle">Página não encontrada.</h4>
        <a href="/" class="btn link mt-3">Voltar para página inicial</a>
    </header>
    <img src="./img/diversos/2.png" alt="Saturno" id="saturno">
    <img src="./img/diversos/1.png" alt="jupiter" id="jupiter">
</section>