<link rel="stylesheet" href="./css/erros.css">

<section class="error__container">
    <header class="error-title">
        <h2 class="supertitle">Sem permissão</h2>
        <h4 class="subtitle">Você não tem permissão para prosseguir.</h4>
        <a href="/" class="btn link mt-3">Voltar para página inicial</a>
        <a href="/entrar" class="btn link mt-1">Entrar</a>
    </header>
    <img src="./img/diversos/2.png" alt="Saturno" id="saturno">
    <img src="./img/diversos/1.png" alt="jupiter" id="jupiter">
</section>