.home__header {
    position: relative;
    z-index: 100;

    &.background {
        background: #00000096;

        & .logo {
            color: #ffffff;

        }
    }

    & .nav__home {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: clamp(1rem, 5vw, 1.4rem) 0;

        & .nav__btns {
            position: relative;
            display: flex;
            align-items: center;

            & .btn {
                --cor-btn: var(--cor-secundaria);
                --cor-btn-hover: var(--cor-secundaria-hover);
            }


            & .plus-btn {
                display: flex;

                & p {
                    display: none;
                }

            }
        }
    }
}

.btn-icon {
    background: transparent;
    outline: none;
    font-size: clamp(20px, 5vw, 25px);
    cursor: pointer;
    transition: transform .3s;

    &#btnMode {
        color: var(--cor-principal);
    }

    &#access {
        color: var(--cor-secundaria-hover);
    }

    &:hover {
        transform: scale(1.1);
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--cor-secundaria);

    & img {
        width: clamp(45px, 5vw, 55px);
    }
}


.access__container {
    width: clamp(15rem, 15vw, 20rem);
    height: auto;
    max-height: 0px;
    position: absolute;
    background: var(--cor-containers);
    top: 110%;
    right: 50%;
    border-radius: 10px;
    overflow: hidden;
    border: 0px solid var(--cor-secundaria-hover);
    transition: all .3s;
    z-index: 100;

    & .access__content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        & .access__link {
            width: 100%;
            color: var(--cor-texto);
            padding: clamp(.5rem, 1vw, .8rem) clamp(1rem, 2vw, 1.3rem);
            text-align: left;
            background: transparent;

            & i {
                font-size: 23px;
                margin-right: 5%;
            }

            &:hover {
                background: var(--cor-principal);
                font-weight: 700;
            }
        }
    }

    &.aberto {
        max-height: 400px;
        border-width: 1px;
    }
}


@media (min-width:769px) {



    .home__header {
        position: relative;

        & .nav__home {
            & .nav__btns {
                position: relative;
                display: flex;
                align-items: center;

                & .btn {
                    --cor-btn: var(--cor-secundaria);
                    --cor-btn-hover: var(--cor-secundaria-hover);
                }

                & .btn-icon {
                    background: transparent;
                    outline: none;
                    font-size: clamp(20px, 5vw, 25px);
                    cursor: pointer;
                    transition: transform .3s;

                    &#btnMode {
                        color: var(--cor-principal);
                    }

                    &#access {
                        color: var(--cor-secundaria-hover);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                & .plus-btn {
                    display: flex;

                    & p {
                        display: flex;
                    }

                }
            }
        }
    }
}