@import url("./header.css");
@import url("./aside.css");



@media (min-width:769px) {
    .home__header, .home__footer, .home__content{
        padding: 0 clamp(1rem, 10vw, 3rem );
        padding-left: calc(var(--aside-width) + clamp(1rem, 10vw, 1.4rem )) ;
    }
    .home__header {
        position: relative;
    
        & .nav__home {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: clamp(1rem, 5vw, 1.4rem);
    
    
            & .nav__btns {
                position: relative;
                display: flex;
                align-items: center;
    
                & .btn {
                    --cor-btn: var(--cor-secundaria);
                    --cor-btn-hover: var(--cor-secundaria-hover);
                }
    
                & .btn-icon {
                    background: transparent;
                    outline: none;
                    font-size: clamp(20px, 5vw, 25px);
                    cursor: pointer;
                    transition: transform .3s;
    
                    &#btnMode {
                        color: var(--cor-principal);
                    }
    
                    &#access {
                        color: var(--cor-secundaria-hover);
                    }
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                & .plus-btn{
                    display: flex;
                    & p{
                        display: flex;
                    }
                    
                }
            }
        }
    }
}