@import url("./header.css");
@import url("./aside.css");
@import url("./footer.css");
@import url("./perfil.css");

/* Código dos cards de fichas */
.card__ficha {
    width: clamp(180px, 100vw, 250px);
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    cursor: pointer;
    & .card__content {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        & img{
            width: 100%;
            height: 110%;
            margin: 0;
            transition: all ease .3s;
            opacity: .8;
        }
        &:hover{
             & img  {
                opacity: 1;
                transform: scale(1.1);
             }
        }
        & .card-title{
            background: linear-gradient(to top, rgba(0, 0, 0, 0.514)20%, transparent);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 1rem 0 ;
        }
    }

    & .card__autor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--cor-texto);
        & .usuario{
            display: flex;
            align-items: center;
            gap: 10px;
            & img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
            & a{
                color: var(--cor-texto);
                &:hover{
                    color: var(--cor-principal);
                }
            }
        }
    }
}

@media (min-width:769px) {

    .home__header,
    .home__footer,
    .home__content {
        padding: 0 clamp(1rem, 10vw, 3rem);
        padding-left: calc(var(--aside-width) + clamp(1rem, 10vw, 1.4rem));
        max-width: 1440px;
        margin: auto;
    }
}