@import url("./header.css");
@import url("./aside.css");

:root {
    --aside-width: 105px;
    
}

@media (min-width:769px) {
    .home__header, .home__footer, .home__content{
        padding: 0 clamp(1rem, 10vw, 3rem );
        padding-left: calc(var(--aside-width) + clamp(1rem, 10vw, 1.4rem )) ;
    }
}