.inicial__container {
    position: relative;
    display: flex;
    --top-img: 100px;
    max-width: 1440px;
    margin: auto;
}

.inicial__container .imagem-inicial {
    position: relative;
    top: calc(var(--top-img) * -1);
    width: 100%;
    height: clamp(450px, 100vw, 620px);
    background-image: url("/img/imagem-inicial-desktop.png");
    filter: brightness(60%);
    background-size: cover;
    background-position: right;
    border-radius: 0;
    box-shadow: 0 0 15px 5px #00000069;
}



.inicial__container .slogan {
    position: absolute;
    top: 50%;
    transform: translateY(calc((50% + var(--top-img)) * -1));
    color: #ffffff;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    text-align: start;
    padding: 0 10%;
}

.inicial__container .slogan .btn-outline {
    width: fit-content;
}

.ad__section {
    width: 100%;

    & .ad__img {
        width: 100%;
        min-height: 280px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

    & .ad__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .ad__user {
            color: var(--cor-texto);
            display: flex;
            align-items: center;
            gap: .5em;

            & .ad__user-img {
                width: clamp(45px, 10vw, 80px);
                height: clamp(45px, 10vw, 80px);
            }
        }
    }
}

.container__home {
    margin: 5rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;

    & .title {
        text-align: center;
        color: var(--cor-principal);
    }
}

.cards__container {
    & .cards__row {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 1rem;

    }
}

.destaques__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}

.destaque__user {
    box-shadow: 0 0 8px 1px var(--cor-principal-hover);
    height: fit-content;
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    overflow: hidden;

    & .user__header {
        position: relative;
        padding: 0 1.2rem;
        display: flex;
        justify-content: center;
        background: var(--cor-containers);

        & img {
            position: relative;
            translate: 0 50%;
            width: clamp(120px, 20vw, 150px);
            border-radius: 50%;
            border: 3px solid var(--cor-principal);
        }
    }

    & .content__user {
        padding: 1.5rem clamp(.8rem, 3vw, 3rem);
        padding-top: calc((clamp(120px, 20vw, 150px) / 2) + 2rem);
        background: var(--cor-principal);

        &> :is(.subtitle, p) {
            color: #ffffff;
            text-align: center;
        }

        & .obra__user :is(.card__ficha, .card__resenha, .card__video) {
            --fs-text: clamp(8px, 2vw, 11px);
            --fs-link: clamp(9px, 2vw, 12px);
            --fs-title: clamp(15px, 3vw, 18px);
            width: clamp(100px, 100vw, 220px);

            & .btn {
                border: 5px solid var(--cor-containers);
                border-radius: 50%;
                padding: .3rem .6rem;
                font-size: var(--fs-title);
                position: absolute;
                right: -18px;
                bottom: 25px;
                box-shadow: 5px 0 8px #0000004f;

            }
        }
    }
}

@media (min-width:992px) {
    .cards__container {
        & .cards__row {
            flex-flow: row nowrap;
            justify-content: space-between;

            & .card__ficha {
                width: 100%;
            }
        }

    }

    .inicial__container {
        & .imagem-inicial {
            border-radius: 0 0 30% 30%;
        }
    }


}
@media (max-width:492px) {
    .inicial__container {
        & .slogan {
            align-items: center;
            text-align: center;
        }
    }
}