.area__perfil {
    position: relative;

    & .header__perfil {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid var(--cor-texto);

        & .foto__perfil {

            width: clamp(105px, 20vw, 120px);
            height: clamp(105px, 20vw, 120px);
            border-radius: 50%;
            object-fit: cover;
            margin: 2.3rem 0;
            border: 5px solid var(--cor-principal);
        }

        &>.subtitle {
            color: var(--cor-texto);
        }

        & .row-items {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;

            & .btn {
                width: fit-content;
                height: fit-content;
            }
        }

        & .estatisticas__usuario {
            display: flex;
            align-items: center;
            gap: clamp(2em, 10vw, 4em);
            padding: 2rem 1rem;

            & .item {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                gap: 5px;
                color: var(--cor-texto);
            }
        }
    }

    & .postagens__perfil {
        position: relative;

        & .btns-section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            gap: 1rem;

            & .btn-section {
                width: 100%;
                max-width: 220px;
                color: var(--cor-texto);
                background: none;
                opacity: .6;
                cursor: pointer;
                padding: 1rem;
                transition: all ease .4s;
                border-top: none;

                &:hover {
                    opacity: 1;
                }

                &.ativo {
                    opacity: 1;
                    border-top: 3px solid var(--cor-principal);
                }

                & i {
                    font-size: var(--fs-title);
                }
            }
        }

        &>.subtitle {
            color: var(--cor-texto);
            text-align: center;
        }
    }

    .postagens__section {
        display: none;

        &.ativo {
            display: block;
        }

        & .title {
            color: var(--cor-texto);
            text-align: center;
            margin: 2rem 0;
        }

        & .conteudo-row {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
            gap: 2rem;
        }
    }
}

.exit-btn {
    position: absolute;
    right: 0;
    top: 0;

    &>i {
        display: block;
        transform: rotate(180deg);
        font-size: 20px;
    }
}

.edit-btn {
    padding:.3rem .5rem;
    position: relative;

    &>i {
        display: block;
        font-size: 20px;
    }
}


/* Gerenciamento de posts */

.posts__container {
    margin: 3rem 0;

    & .title {
        text-align: center;
        color: var(--cor-texto);
    }

    & .posts {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
    }
}

.post__item {
    padding: 2rem 1.2rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    background: var(--cor-containers);
    box-shadow: 0 0 8px 1px var(--cor-texto);
    border-radius: 10px;

    & .post__capa {
        width: clamp(130px, 100%, 250px);
        height: clamp(230px, 100%, 310px);
        border-radius: 10px;
        object-fit: cover;
    }

    & .info__post {
        color: var(--cor-texto);
        width: 100%;
        padding: 5px;

        & ul {
            list-style: none;
        }

        & .post__estatis {
            display: flex;
            gap: 10px;
        }

        & .post__btns {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;

            & .btn-icon {
                cursor: pointer;
                background: transparent;
            }
        }
    }
}

@media (min-width: 769px) {
    .row-items {
        position: relative;

        & .btn {
            position: absolute;
            right: calc(-85px - 1.5em);
        }
    }

    .edit-btn {
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;

        &>i {
            display: block;
            font-size: 20px;
        }
    }

    .posts__container .posts {
        justify-content: space-between;
    }
}