.pesquisa__container {
    margin: 8rem 0;
}

.pesquisa__header {
    & .pesquisa__form {
        & .input__container {
            display: flex;
            border-radius: 50px;
            overflow-x: hidden;

            & :is( :is(input, textarea, select):focus, :is(input, textarea, select):active, input:not(:placeholder-shown), textarea:not(:placeholder-shown))~label {
                left: 1.2rem;
            }

            & .pesquisa-btn {
                background: transparent;
                font-size: calc(var(--fs-subtitle) - 3px);
                padding: 0 1.5rem;
                outline: none;
                border: none;
                color: var(--cor-texto);
                transition: ease background .4s,
                    ease color .4s;
                cursor: pointer;

                &:hover {
                    color: var(--cor-containers);
                    background: var(--cor-secundaria-hover);
                }
            }
        }
    }
}

.resultados__search{
    margin: 3rem 0;
    & > .subtitle{
        width: 100%;
        text-align: center;
        color: var(--cor-texto);
    }
}


.postagens__pesquisa{
    & .btns-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        & .btn-section{
            background: transparent;
            color: var(--cor-secundaria);
            border: 1px solid var(--cor-secundaria);
            border-radius: 5px;
            padding: .3rem 1.2rem;
            cursor: pointer;
            transition: all .3s;
            &.ativo{
                background: var(--cor-secundaria);
                color: #fff;
            }
        }
    }
}