.plus__container {
    margin: 1rem 0;

    &>.subtitle {
        text-align: center;
        color: var(--cor-texto);
    }

    & .plus__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;
        gap: 3rem;
        margin: 5rem 0;

        & .plus__card {
            position: relative;
            padding: 1rem .6rem;
            border-radius: 20px;
            border: 1px solid var(--cor-texto);
            background: var(--cor-containers);
            width: clamp(200px, 100vw, 386px);

            & .btn {
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 3rem;
                padding: .6rem 2rem;

                &.hidden {
                    visibility: hidden;
                }
            }

            & header {
                text-align: center;
                padding: clamp(.5rem, 3vw, 2rem);
                color: var(--cor-texto);
                border-bottom: 1px solid var(--cor-texto);

                & .btn {
                    width: 100%;
                }
            }

            & .plus__recursos {
                padding: clamp(.5rem, 3vw, 2rem);

                & .recursos {
                    padding: 1rem 0;
                    list-style: none;

                    & .recurso__item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        color: var(--cor-texto);

                        & i {
                            font-size: 20px;
                            color: var(--cor-success);
                        }
                    }
                }
            }

            &.recomendado {
                border: 3px solid var(--cor-principal);
                margin-bottom: 2.4rem;

                & .recomendado__alert {
                    position: absolute;
                    top: -5%;
                    left: 50%;
                    translate: -50% 0;
                    background: var(--cor-secundaria);
                    padding: .4rem 1rem;
                    border-radius: 30px;
                    color: white;
                }

            }

            &.viajante {
                & .plus__recursos .recursos .recurso__item i {
                    font-size: 20px;
                    color: var(--cor-danger);
                }
            }
        }
    }
}

.assinatura__modal {
    & .option {
        --cor-plano: none;
        &.comandante{
            --cor-plano:var(--cor-secundaria-hover);
        }
        &.tripulante{
            --cor-plano:var(--cor-secundaria-hover);
        }
        display: none;

        &>.title {
            color: var(--cor-texto);
        }

        &.active {
            display: block;

        }
    }


    & .planos {
        margin-top: 2.3rem;

        & .plano__link {
            margin: 1rem 0;
            position: relative;
            display: block;
            text-align: center;
            color: var(--cor-texto);
            width: 100%;
            padding: 1.2rem 0;
            transition: all .4s;
            border-radius: 20px;
            & .negrito-roxo, & .negrito-amarelo{
                transition: color .4s;
            }
            &:hover{
                box-shadow: 0 0 8px 1px var(--cor-texto);
                background: var(--cor-plano);
                & .negrito-roxo, & .negrito-amarelo{
                    color: #ffffff;
                }
            }
        }
    }
}