.view__container {
    margin: 3rem 0;

    & .avaliacao__stars {
        display: flex;
        min-width: fit-content;
        flex-flow: nowrap row;
        gap: 5px;

        & i {
            font-size: 25px;
            color: var(--cor-secundaria);

            &.star:hover,
            &.star:hover~.star {
                color: gold;
            }

            &.star.selected,
            &.star.selected~.star {
                color: gold;
            }
        }


    }

    &.resenha-view {
        width: 100%;

        & .resenha__header {
            width: 100%;

            & .resenha__capa {
                width: clamp(380px, 100%, 1440px);
                height: calc(100vw * (30/100));
                min-height: 380px;
                max-height: 420px;
                object-fit: cover;
                border-radius: 20px;
            }

            & .row {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 2rem 1rem;

                & .btn {
                    padding: .5rem 1.2rem;
                    height: fit-content;
                    box-shadow: 0 0 3px var(--cor-texto);
                    color: var(--cor-principal);
                    --cor-btn: var(--cor-containers);
                    --cor-btn-hover: var(--cor-principal-hover);

                }
            }
        }

        & .resenha__content {
            margin: 5rem 0;

            & .title {
                color: var(--cor-texto);
            }

            & .text__area {
                margin: 2rem 0;
                border: 2px solid var(--cor-secundaria);
                border-radius: 10px;
                padding: clamp(.8rem, 10vw, 2rem);
                color: var(--cor-texto);
                background: var(--cor-containers);
                text-align: start;
            }

            & .row {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: .5rem;
                flex-wrap: wrap;

            }
        }
    }
}


@media (min-width:769px) {
    .view__container.resenha-view .resenha__content .row {
        justify-content: space-between;
    }
}