@import '../abstract/variaveis';
@import '../abstract/mixins';



aside{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $roxo;
    z-index:100;
    
    .nav-bar__container{
        width: 100%;
        display: flex;
        @include alignCenter(row,nowrap,space-evenly,center);
        padding: 3px;
        .nav__item{
            display: flex;
            width: 45px;
            height: 45px;
            transition: all .4s;
            border-radius: 50%;
            &:hover{
                background-color: $roxo-escuro;
                transform: translateY(-10px);
                box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.336);
                
            }
                i{
                    margin: auto;
                    color: white;
                    font-size: calc($fs-title / 1.5);
                
            }
        }
        
    }
}
