@import '../abstract/variaveis';
@import '../abstract/mixins';



aside{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index:100;
    ul{ 
        width: 100%;
        padding: 5px;
        background-color: $preto;
        position: relative;
        display: flex;
        gap: 1rem;
        @include alignCenter(row,nowrap,center,center);
        .list{
            border: 1px solid $amarelo;
            padding: 10px 15px;
            border-radius: 50%;
            transition: all .2s;
            a{
                color: $amarelo;
            }
            &:hover{
                box-shadow: 0px 0px 5px $white;
            }
        }
        .active{
            background-color: $roxo;
            transform: translateY(-10px);
            border: 1px solid $roxo;
            box-shadow: 0px 0px 5px $white;
            a{
                color: $preto;
            }
            
        }
    }
}


