@import '../abstract/variaveis';
@import '../abstract/mixins';



aside{
    width: 100%;
    
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $roxo;
   
    .nav-bar__container{
        width: 100%;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        .nav__item{
            position: relative;
            transition: all .4s;
            padding: 1rem;
            border-radius: 50%;
            &:hover, &:focus{
                background-color: $roxo-escuro;
                transform: translateY(-10px);
                box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.336);
            }
                i{
                position: relative;
                color: white;
                font-size: calc($fs-title / 1.4);
                
            }
        }
        
    }
}
