@import '../abstract/mixins';
@import '../abstract/variaveis'; 

.carouselresenhas{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2rem 0 5rem 0;
    padding:0 1rem;
    h3{
        color: $amarelo;
        font-weight: normal;
        border-bottom: 1px solid $amarelo;
        width: 100%;
    }
  
    .slides {
        display: flex;
        transition: transform 0.3s ease;
        touch-action: pan-y; 
        gap: 12px;
        margin-top: 20px;   
        padding: 0 50px 0 0; 

      .slide {
        @include slideItem(100%,fit-content, 15px);
        overflow: hidden;
        transition: all ease .2s;
        background: $preto;
        padding:30px;
        border-radius: 15px;
        box-shadow: 2px 3px 5px $preto;
        .user{
            width: 100%;
            height: 50px;
            display: flex;
            @include alignCenter(row,nowrap,start,center);
            img{
                
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            h4{
                color: $white;
                margin-left: 10px;
            }
        }
        .trecho{
            position: relative;
            width: 100%;
            display: flex;
            @include alignCenter(column, nowrap,start,start);
            margin-top: 20px;
            
            .titulo{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $white;
                p{
                    margin-top: 0;
                    width: fit-content;
                    background-color: $roxo;
                    padding: 3px;
                    font-size: $fs-text ;
                }
            }
            p{
                margin-top: 15px;
                width: 80%      ; 
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: $fs-text / 1.1;
                color: $white;
            }
            .btn__vermais{
                background-color: $amarelo;
                border: none;
                padding: 5px 10px;
                position: relative;
                bottom:0%;
                font-weight: bold;
                color: $white;
                border-radius: 5px;
                margin-top: 10px;
                
            }
            
        }
        
      }
    }
    .prevBtn,
    .nextBtn {
        background-color: transparent;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        height: 85%;
        border: none;
        color: $white;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 1;
        transition: all .2s;
        &:hover{
            
            font-weight: 800;
            font-size: $fs-title;
        }
    }

    .prevBtn {
        left: 0;
    }

    .nextBtn {
        right: 0;
    }
  }
  