@import '../abstract/mixins';
@import '../abstract/variaveis';

.carousel {
    position: relative;
    min-width:300px;
    max-width:1200px;
    margin: -50px auto;
    overflow: hidden;
    margin-bottom: 5rem;
    .slides {
        display: flex;
        transition: transform 0.3s ease;

        .slide {
            position: relative;
            @include slideItem(100%, 400px, 0px);      
            display: flex;
            align-items: end;
            justify-content: start;
            padding:2rem;
            
            &:hover{
                transform: translateY(0px);
            }
                img{
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute; 
                    object-position:top; 
                    object-fit:cover;      
                    
                }
                .texto{
                    display: flex;
                    @include alignCenter (column, nowrap, center, start);
                    color: $cor-fundo;
                    z-index: 1;
                    backdrop-filter: blur(5px);
                    h1{
                        font-size: $fs-text+3px;
                    }
                    p{
                        width: 70%;
                        font-size: $fs-text/1.1;
                    }
                }
                .btn__vermais{
                    position: absolute;
                    right: 10%;
                    bottom: 10%;
                    border: none;
                    background: $cor-secundaria;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                    color: $cor-fundo;
                    transition: all .2s;
                    font-size: $fs-text;
                    &:hover{
                        background-color: $cor-principal;
                    }
                }
            }   
            
        } 




        .prevBtn,
        .nextBtn {
            border:2px solid $cor-secundaria;
            position: absolute;
            border-radius: 30%;
            color:$cor-fundo;
            top: 50%;
            transform: translateY(-50%);
            height: fit-content;
            background: $cor-secundaria;
            padding: 10px 20px;
            cursor: pointer;
            z-index: 1;
            transition: all .2s;
            &:hover{
                font-size: $fs-title;
                font-weight: 800;
                
            }
        }
    
        .prevBtn {
            left: 2px;
        }
    
        .nextBtn {
            right: 2px;
            
        }
   


}