@import '../abstract/mixins';
@import '../abstract/variaveis';

.carousel {
    position: relative;
    min-width:300px;
    max-width:1600px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 5rem;
    .btn__vermais{
        border: none;
        background: $cor-secundaria;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        color: $cor-fundo;
        transition: all .2s;
        font-size: fs-text;
        cursor: pointer;
        &:hover{
            background-color: $cor-secundaria-escura;
        }
    }

    .owl-nav{
        display: none   ;
    }

    .carousel-inicial {
        display: flex;
        transition: transform 0.3s ease;

        .slide {
            position: relative;
            width: 100%;
            height:500px;
            display: flex;
            align-items: end;
            justify-content: start;
            padding:2rem;
            
            &:hover{
                transform: translateY(0px);
            }
                img{
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute; 
                    object-position:top; 
                    object-fit:cover;      
                    
                }
                .texto{
                    display: flex;
                    @include alignCenter (column, nowrap, center, start);
                    color: $cor-fundo;
                    z-index: 1;
                    backdrop-filter: blur(5px);
                    h1{
                        font-size: $fs-text+3px;
                    }
                    p{
                        width: 70%;
                        font-size: $fs-text/1.1;
                    }
                }
                
            }   
            
        } 

    .carousel-itens{

            display: flex;
            transition: transform 0.3s ease;
            touch-action: pan-y; 
            gap: 35px;
            margin-top: 20px; 
               
          .slide {
            @include slideItem(50%, 250px, 5px);      
            display: flex;
            border-radius: 5px;
            @include alignCenter (column, nowrap, center, center); 

            p{
                color: $cor-texto;
                font-size: $fs-text / 1.2;
            }
      
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
    
            }
          }
        }
    .carousel-resenhas{
            display: flex;
            transition: transform 0.3s ease;
            touch-action: pan-y; 
            gap: 12px;
            margin-top: 20px;   
            padding: 0 30px 0 0; 
    
    
          .slide {
            @include slideItem(100%,fit-content, 15px);
            overflow: hidden;
            transition: all ease .2s;
            background: $cor-principal-escura;
            padding:30px;
            border-radius: 15px;
            box-shadow: 2px 3px 5px $cor-texto;
            .user{
                width: 100%;
                height: 50px;
                display: flex;
                @include alignCenter(row,nowrap,start,center);
                img{
                    
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
                h4{
                    color: $cor-fundo;
                    margin-left: 10px;
                }
            }
            .trecho{
                position: relative;
                width: 100%;
                display: flex;
                @include alignCenter(column, nowrap,start,start);
                margin-top: 20px;
                
                .titulo{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $cor-fundo;
                    p{
                        margin-top: 0;
                        width: fit-content;
                        background-color: $cor-secundaria-escura;
                        padding: 5px;
                        font-size: $fs-text ;
                    }
                }
                p{
                    margin-top: 15px;
                    width: 80%      ; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: $fs-text / 1.1;
                    color: $cor-fundo;
                }
                
                
            }
            
          }
        }
    
    .carousel-videos{
            display: flex;
            transition: transform 0.3s ease;
            touch-action: pan-y; 
            gap: 20px; 
            
          .slide {
            @include slideItem(40%, 100%, 15px);      
            display: flex;
            @include alignCenter (column, nowrap,center, center); 
            margin-top: 10px;
            
            a{
              width: 100%;
              height: 100%;
              video{
                width: 100%;
                height:100% ;
                margin: 0 auto;
                
              }
            }
            
          
        }
    }


    
}
