@import '../abstract/mixins';
@import '../abstract/variaveis';

.carousel {
    position: relative;
    min-width:300px;
    max-width:1200px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 5px 5px $preto;
    margin-bottom: 1rem;
    .slides {
        display: flex;
        transition: transform 0.3s ease;

        .slide {
            position: relative;
            flex: 0 0 100%;
            height: 200px;
            display: flex;
            align-items: end;
            justify-content: start;
            padding:2rem;
                img{
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute; 
                    object-fit: cover;
                    object-position: center;       
                }
                .texto{
                    display: flex;
                    @include alignCenter (column, nowrap, center, start);
                    color: $white;
                    z-index: 1;
                    h1{
                        font-size: $fs-text+3px;
                    }
                    p{
                        width: 70%;
                        font-size: $fs-text/1.1;
                    }
                }
                .btn__vermais{
                    position: absolute;
                    right: 10%;
                    bottom: 10%;
                    border: none;
                    background: $amarelo;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                    color: $white;
                    transition: all .2s;
                    font-size: $fs-text;
                    &:hover{
                        background-color: $roxo;
                    }
                }
            }   
            
        } 




            .prevBtn,
            .nextBtn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                border: 2px solid $white;
                border-radius:40px;
                color: $white;
                padding: 10px 20px;
                cursor: pointer;
                z-index: 1;
                transition: all .2s;
                &:hover{
                    background-color: $white;
                    color:$roxo;
                }
            }

            .prevBtn {
                left: 5px;
            }

            .nextBtn {
                right: 5px;
            }
       
   


}