@import '../abstract/variaveis';
@import '../abstract/mixins';

footer{
    position: relative;
    left: 0;
    bottom:0;
    background-color: $roxo-escuro;
    padding: 10px 30px 55px 30px;
    width: 100%;
    height: fit-content;
    margin-top: 5rem;
    display:flex;
    @include alignCenter(column, nowrap, center, start);
    .footer-highItens{
         
    }
}
