
@import '../abstract/mixins';
@import '../abstract/variaveis';
@import '../abstract/reset';
.btn__homeback{
    width: 50px;
    height: 50px;
    display: flex;
    background-color: $cor-principal;
    padding: 1rem;
    color: $cor-fundo;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    i{
        margin: auto;
    }
}
.form__container {
    top: 0;
    z-index: 9;
    position: relative;
    top: 50%;
    margin-top: 20px;
    
    width: 100%;
    height: 90vh;
    background-color: $cor-fundo-escura;
    border: 1px solid  $cor-principal;
    text-align: center;
    color: $cor-texto;
    padding: 5rem 20px 3rem 20px;
    display: flex;
    p {
        color: $cor-texto;
        font-size: $fs-text / 1.1;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: $fs-title / 1.4;
        margin-top: 1rem;
    }

    .trocar__container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50px;
        display: flex;
        @include alignCenter(row, nowrap, center, center);
        .switch_btn {
            font-size: $fs-text / 1.2;
            color: $cor-texto;
            border: none;
            width: 50%;
            height: 100%;
            background-color: $cor-fundo-escura;
            transition: all ease .5s;
            &.ativo {
                color: $cor-principal-escura;   
                font-weight: bold;
                box-shadow: 2px 2px 3px $cor-principal-clara;
            }
        }
    }

    .form {
        width: 100%;
        height: auto;
        display: none;
        gap: 20px;
        border-radius: 15px;
        margin: auto;
        a {
            position: relative;
            bottom: 0%;
            z-index: 1000;
            transition: all ease .4s;
            color: $cor-texto;
            text-decoration: none;
            font-size: calc($fs-text / 1.4);

            &:hover {
                color: $cor-secundaria;
            }
        } 
        .a{
            position: static;
            width: 100%;
        }

        .foto-perfil {
            position: relative;
            background: gray;
            overflow: hidden;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid $cor-secundaria;

            img {
                width: 100%;
                height: 100%;
            }
        }

        input {
            font-size: calc($fs-text / 1.5);
            width: 100%;
            height: 30px;
            background-color: $cor-fundo;
            border-radius: 3px;
            padding: 10px 10px 10px;
            border: none;
            outline: none;
        }

        .enviar__btn {
            font-size: calc($fs-title / 2.3);
            margin-top: 10px;
            transition: all ease .4s;
            height: 35px;
            padding: 0;
            @include bg-gradient(right, $cor-secundaria, $cor-secundaria-escura 20%);
            color: $cor-fundo;
            font-weight: bold;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 1px 1px 5px $cor-fundo;
            }
        }

        .token__container {
            width: 100%;
            margin-top: 20px;

            p {
                margin-bottom: 1rem;
            }

            .token__btns {  
                display: flex;    
                @include alignCenter(row, nowrap, center, center);
                gap: 5px;

                .cod_token {
                    width: calc(100% / 5);
                    height: 50px;
                    text-align: center;
                    font-size: $fs-title;
                }
            }
        }
    }
    .ativado {
        display: flex;
        @include alignCenter(column, nowrap, start, center);
    }
    
}

