@import '../abstract/variaveis';
@import '../abstract/mixins';

.header{
    position: relative;
    left: 0;
    top:0;
    width:100%;
    
    padding: 10px 10px;
    background-color:$cor-fundo-escura;
    display: flex;
    @include alignCenter(row,nowrap,space-between,center);
    border-bottom: 1px solid $cor-principal;
    .logotipo{
        margin: auto 0 ;
        width:auto;
        height: 100%;
        overflow: hidden;
        a{
            text-decoration: none;
            color:$cor-principal;
            display: flex;
           @include alignCenter(row,nowrap,space-between,center);
            .logo_img{
                width: 35px;
                height:35px;
            }
            .tipografia{
                font-size: calc($fs-title / 2);
                font-weight: 600;
            }
        }
    }
    .assine-btn{
        position: relative;
        width: 80px;
        border: 1px solid $cor-principal-escura;
        background: transparent;
        padding: 3px 5px;
        border-radius: 5px; 
        transition: all .2s;
        
        span{
            color: $cor-principal-escura;
            position: relative;
            z-index: 2;
        }
        &::before{
            content: '';
            position: absolute;
            display: flex;
            @include alignCenter(row,nowrap,center,center);
            color: $cor-fundo;
            left: 0%;
            bottom: 0%;
            width:0%;
            height: 100%;
            background-color: $cor-principal-escura;
            transition: all .2s;
            z-index: 1;
            border-radius: 3px; 
        }
        &:hover{
            span{
                color: $cor-fundo;
            }
            &::before{
                width: 100%;
                
            }
        }
    }
}