@import '../abstract/variaveis';
@import '../abstract/mixins';

header{
    position: relative;
    left: 0;
    top:0;
    width: 100%;
    z-index: 10;
    nav{
        width:100%;
        padding: 15px 30px;
        z-index: 100;
        display: flex;
        @include alignCenter(row,nowrap,space-between,center);
        .logotipo{
            margin: auto 0 ;
            width:auto;
            height: 100%;
            overflow: hidden;
            a{
                text-decoration: none;
                color:$cor-principal;
                display: flex;
            @include alignCenter(row,nowrap,space-between,center);
                .logo_img{
                    width: 45px;
                    height: 45px;
                }
                .tipografia{
                    color: $cor-principal;
                    font-size: $fs-title;
                    font-weight: 600;
                }
            }
        }
        .assine-btn{
            position: relative;
            width: 100px;
            border: 1px solid $cor-secundaria-escura;
            background: transparent;
            padding: .8rem;
            border-radius: 5px; 
            transition: all .2s;
            cursor: pointer;
            span{
                color: $cor-secundaria-escura;
                position: relative;
                z-index: 2;
            }
            &::before{
                content: '';
                position: absolute;
                display: flex;
                @include alignCenter(row,nowrap,center,center);
                color: $cor-fundo;
                left: 0%;
                bottom: 0%;
                width:0%;
                height: 100%;
                background-color: $cor-secundaria-escura;
                transition: all .2s;
                z-index: 1;
                border-radius: 3px; 
            }
            &:hover{
                span{
                    color: $cor-fundo;
                }
                &::before{
                    width: 100%;
                    
                }
            }
        }
    }
}


.btn__homeback{
    display: flex;
    color: $cor-principal-escura;
    border-radius: 50%;
    z-index: 100;
    transition: color ease .2s;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $fs-title * 1.5;
    i{
        margin: auto;
    }
    &:hover{
        color: $cor-secundaria-escura;
    }
}