@import '../abstract/mixins';
@import '../abstract/variaveis';
@import '../abstract/reset';

.search__container{
    display:none;
    position:absolute;
    width:100vw;
    height:100vh;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    left:0;
    top:0;
    @include alignCenter(column, nowrap,start,center);
    padding: 1rem;
    transition: all .2s;
    z-index: 99;
    .input__container{
        display: flex;
        position: relative;
        width:100%;
        padding: 5px;
        border-radius: 15px;
        @include alignCenter(row,nowrap,space-between,center);
        box-shadow: 1px 2px 3px$cor-texto;
        background-color:$cor-fundo;
       
        &:hover, &:focus{
            border: 1px solid $cor-principal-escura;
        }
        input{
            width: 90%;
            border: none;
            background: transparent;
            font-size: calc($fs-text / 1.1);
            outline: none;
            padding-left:10px;
            color: $cor-principal-escura;
        }
    
        .search__btn{
            position: absolute;
            right:0;
            bottom: 0;
            width: 30px;
            height: 100%;
            border: none;
            border-radius: 0 15px 15px 0;
            background-color: $cor-principal-escura;
            color: $cor-fundo;
            transition: all .2s;
            font-size: $fs-text / 1.2;
            &:hover{
                background-color: transparent;
                border-left: 2px solid $cor-principal-escura;
                color: $cor-principal-escura;
            }
        }
        
    }
    .tags__container{
        width: 100%;
        height: auto;
        padding: .4rem;
        overflow: hidden;
        
        .tag__inner{ 
             
            display: flex;
            width: 100%;
            height: 100%;
            @include alignCenter(row,wrap,center,center);
            gap: 5px;
            a{
                width: auto;
                border: 1px solid $cor-principal-clara;
                font-size: $fs-text / 1.2;
                background-color: $cor-principal;
                color: $cor-fundo;
                padding: 5px;
                border-radius: 10px;
                transition: all .2s;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $cor-principal;
                    color: $cor-principal;
                }
            }
        }
    }
   
}
.show{
    display: flex;
}