
.utilities_menu{
    width: 100%;
    margin: 0;
    height: auto;
    z-index: 12;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px ;

}

.utility_item{
    width: 100%;
    background:var(--cor-fundo-secundaria);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: start;
}
.utility_item i {
    font-size: var(--fs-title);
}
.utility_item:hover{
    color:var(--cor-fundo);
    background:var(--cor-principal-clara);
}
