<!DOCTYPE html>
<html lang="pt-br" id="inicio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart-logo-pequena.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/home/home.css">
</head>
<%  
    var tituloPage="" ; 
    if(pageClass=="index" ){ 
        tituloPage="Editar perfil" 
    }else if(pageClass=="dadosPessoais" ){
        tituloPage="Dados pessoais" 
    }else if(pageClass=="security" ){
        tituloPage="Senha e segurança" 
    } 
%>

    <body>
        <header class="header__edit-profile">
            <button class="btn homebtn" onclick="window.history.back();"><i class="bi bi-arrow-left"></i></button>
            <h1 class="title">
                <%= tituloPage %>
            </h1>
        </header>
        <main class="main__edit-profile">

            <%- include(page) %>

        </main>

    </body>

</html>