<!DOCTYPE html>
<html lang="pt-br" id="inicio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart_logo_pequena.png" type="image/x-icon">

    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/landing-page/landing.css">
</head>

<body>
    <header class="landing__header">
        <nav class="landing__nav nav">
            <a href="/" class="logo">
                <img src="./img/quasart_logo_branca.png" alt="logotipo quasart">
                <h1 class="tipografia">Quas<span style="color:var(--cor-principal);">Art<span></h1>
            </a>
            <button class="landing__nav-btn">
                <i class="bi bi-list"></i>
            </button>
            <article class="menu-container">
                <ul class="nav__list">
                    <li><a href="#inicio" class="nav__item text">Inicio</a></li>
                    <li><a href="#sobre" class="nav__item text">Sobre o projeto</a></li>
                    <li><a href="#objetivo" class="nav__item text">Nosso objetivo</a></li>
                    <li><a href="#quemSomos" class="nav__item text">Quem somos</a></li>
                    <li><a href="/entrar" class="btn ms-1">Entrar</a></li>
                </ul>
            </article>
        </nav>
    </header>
    <main>
        <section class="inicial__container">
            <img class="imagem-inicial" src=".//img/landing-page/fundo lading page-2.png"
                alt="imagem de fundo com um Quasar roxo em estilo aquarela">
            <article class="slogan p-3">
                <h2 class="supertitle">Explore o Infinito</h2>
                <h3 class="subtitle">Descubra o extraordinário.</h3>
                <a href="cadastrar" class="btn-outline mt-2">Cadastre-se agora!</a>
            </article>
        </section>
        <section id="sobre" class="sobre__container">

            <section class="sobre__item ">
                <article class="sobre__item-content">
                    <img src=".//img/landing-page/sobre-img.png"
                        alt="Mulher de pele preta com cabelos cacheados em um fundo laranja gradiente olhando para um pequeno foguete">
                    <article class="sobre__item-text">
                        <article class="pb-2">
                            <h3 class="subtitle">Sobre o projeto</h3>
                            <h2 class="title">Navegue pelo cosmos do entretenimento.</h2>
                        </article>
                        <p class="text mb-2">Quasart é seu novo destino online para explorar o universo do
                            entretenimento!
                            De
                            filmes
                            a livros, passando por séries, stand-ups, podcasts e teatro, reunimos tudo em um só lugar
                            para
                            garantir que você encontre <span class="negrito-amarelo">exatamente</span> o que procura de
                            maneira
                            <span class="negrito-amarelo">rápida e eficiente</span>.
                        </p>
                        <p class="text mb-2">Com uma plataforma desenhada para destacar o que é popular e adaptada às
                            suas
                            <span class="negrito-amarelo">preferências</span>, a descoberta do seu próximo passatempo
                            favorito
                            fica a apenas alguns cliques de
                            distância. Seja você um fã ávido por <span class="negrito-amarelo">novidades</span> ou uma
                            empresa
                            buscando ampliar sua <span class="negrito-amarelo">visibilidade</span>,
                            Quasart é o <span class="negrito-amarelo">ponto de encontro perfeito</span>.
                        </p>
                        <p class="text mb-2">Nós entendemos que cada detalhe <span
                                class="negrito-amarelo">importa</span>
                            quando
                            se trata de escolher sua próxima
                            experiência de entretenimento. Por isso, oferecemos <span class="negrito-amarelo">três
                                recursos
                                fundamentais</span> para enriquecer sua
                            jornada:</p>
                    </article>
                </article>

            </section>

            <!-- Resenhas Cósmicas -->
            <section class="sobre__item roxo">
                <article class="sobre__item-content">

                    <img src=".//img/landing-page/resenhas-img.png" alt="Mulher branca de cabelo liso marrom com oculos, apontando para a direita e para a esquerda com
                    telescopio ao lado.">
                    <article class="sobre__item-text">
                        <article class="pb-2">
                            <h2 class="title">Resenhas Cósmicas</h2>
                            <h3 class="subtitle mt-1">Veja o que outros pensam.
                                Opiniões sinceras para orientar suas escolhas.</h3>
                            <button class="btn-outline secundaria mt-2">Veja mais <i
                                    class="bi bi-arrow-right"></i></button>
                        </article>

                    </article>
                </article>

            </section>
            <!-- Via videos -->
            <section class="sobre__item">
                <article class="sobre__item-content">

                    <article class="sobre__item-text">
                        <article class="pb-2">
                            <h2 class="title">Via videos</h2>
                            <h3 class="subtitle mt-1">Sinta a vibe da obra. Trailers, entrevistas e prévias.</h3>
                            <button class="btn-outline mt-2">Veja mais <i class="bi bi-arrow-right"></i></button>
                        </article>
                    </article>
                    <img src=".//img/landing-page/videos-img.png"
                        alt="Mulher branca de cabelo liso loiro segurando o celular ao lado de uma pequena lua">
                </article>

            </section>
            <!-- Fichas Espaciais -->
            <section class="sobre__item roxo">
                <article class="sobre__item-content">
                    <img src=".//img/landing-page/fichas-img.png"
                        alt="Homem branco com camisa cinza apontando para um tablet que está sendo segurado por uma mulher branca de cabelo ruivo sorrindo ao lao de um mini satelite..">
                    <article class="sobre__item-text">
                        <article class="pb-2">
                            <h2 class="title">Fichas Espaciais</h2>
                            <h3 class="subtitle mt-1">Conheça cada obra antes de se comprometer. Sinopse, elenco, gênero
                                e
                                mais ao seu alcance.</h3>
                            <button class="btn-outline secundaria mt-2">Veja mais <i
                                    class="bi bi-arrow-right"></i></button>
                        </article>
                    </article>
                </article>
            </section>
        </section>
        <section id="objetivo" class="objetivo__container">
            <article class="objetivo__content">
                <article class="pb-3 mb-3">
                    <h3 class="subtitle">Nosso Objetivo</h3>
                    <h2 class="title">Entenda mais sobre nossa missão intergaláctica</h2>
                    <p class="text mt-2">No coração do Quasart, nosso propósito se alinha com uma visão global para um
                        <span class="negrito-roxo">futuro
                            mais próspero e sustentável</span>. Inspirados pelo Objetivo de Desenvolvimento Sustentável
                        8.3 da ONU,
                        nossa plataforma é dedicada a transformar o panorama do entretenimento, promovendo o
                        empreendedorismo, a criatividade e a inovação para artistas independentes, micro e média
                        empresas.
                    </p>
                </article>
                <img src=".//img/landing-page/Empresarios.png"
                    alt="Mulher loira de oculos impressionada apontando os 2 dedos para cima ao lado de um pequeno jupiter e de um simbolo da ODS 8 em frente ao um fundo roxo com grafico ilustrado.">
            </article>
        </section>
        <section class="quemSomos__container" id="quemSomos">
            <article class="quemSomos__content">
                <article class="pb-3">
                    <h3 class="subtitle">Quem somos</h3>
                    <h2 class="title">Descubra quem está por trás do Quasart</h2>
                </article>
                <p class="text mt-2">Nós somos um grupo vibrante de alunos do curso de <span
                        class="negrito-amarelo">Informática para Internet </span>(INI) da
                    <span class="negrito-amarelo">FIEB TECH</span>, navegando com entusiasmo pelo terceiro ano de nossa
                    jornada
                    acadêmica. Unidos por nossa
                    paixão por tecnologia, inovação e, claro, o vasto mundo do entretenimento, decidimos transformar
                    nossa
                    visão em <span class="negrito-amarelo">realidade</span> com a criação do <span
                        class="negrito-amarelo">Quasart</span>.
                </p>
                <p class="text mt-2 pb-3">Nossa jornada até aqui foi repleta de aprendizados, desafios superados e,
                    acima de
                    tudo, um compromisso inabalável com a <span class="negrito-amarelo">excelência</span>. Ao escolher
                    Quasart para explorar o <span class="negrito-amarelo">universo do
                        entretenimento</span>, você não apenas descobre uma plataforma única, mas também apoia o <span
                        class="negrito-amarelo">futuro</span> da
                    tecnologia e
                    inovação, moldado por <span class="negrito-amarelo">mentes jovens e ambiciosas</span> como as
                    nossas.
                </p>
                <section class="carousel__container mt-3">
                    <article class="arrows">
                        <button class="arrow-btn previous"><i class="bi bi-arrow-left-short"></i></button>
                        <button class="arrow-btn next"><i class="bi bi-arrow-right-short"></i></button>
                    </article>
                    <article class="carousel__inner">
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#6E00A2;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-bruna.jfif" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Bruna Lopes</h3>
                                    <p class="text">Gerente</p>
                                    <p class="text rm">RM86701</p>
                                </header>
                                <i class="bi bi-file-earmark-text"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#005BE3;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-gabi.jpg" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Gabriella Dantas</h3>
                                    <p class="text">Web Designer</p>
                                    <p class="text rm">RM86623</p>
                                </header>
                                <i class="bi bi-palette-fill"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#9E0009;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-nayara.jfif" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Nayara Costa</h3>
                                    <p class="text">Web Designer</p>
                                    <p class="text rm">RM86507</p>
                                </header>
                                <i class="bi bi-palette-fill"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#06D9B3;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-nicole.jpg" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Nicole Ribeiro</h3>
                                    <p class="text">Analista de sistemas</p>
                                    <p class="text rm">RM88680</p>
                                </header>
                                <i class="bi bi-binoculars-fill"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#EA6C06;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-pedro.jpg" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Pedro Henrique</h3>
                                    <p class="text">Programador</p>
                                    <p class="text rm">RM86674</p>
                                </header>
                                <i class="bi bi-laptop"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#D20000;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-thomaz.jpg" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Thomaz Mendes</h3>
                                    <p class="text">Programador</p>
                                    <p class="text rm">RM86681</p>
                                </header>
                                <i class="bi bi-laptop"></i>
                            </article>
                        </article>
                        <article class="card">
                            <article class="card__membro" style="--cor-card:#EE00F3;">
                                <header>
                                    <article class="imagem__membro mb-3">
                                        <img src="./img/membros-tcc/imagem-tifany.png" alt="imagem de membro">
                                    </article>
                                    <h3 class="subtitle">Tifany Iara</h3>
                                    <p class="text">Analista de Dados</p>
                                    <p class="text rm">86569</p>
                                </header>
                                <i class="bi bi-database-fill"></i>
                            </article>
                        </article>
                    </article>

                </section>
            </article>
        </section>

    </main>
    <footer class="footer__container">
        <header class="footer__header">
            <a href="/" class="logo">
                <img src=".//img/quasart_logo.png" alt="Logotipo do Quasart">
                <h1 class="tipografia">Quas<span style="color:var(--cor-principal);">Art<span></h1>
            </a>
            <article class="redes">
                <a target="_blank" href="https://instagram.com/oficial_quasart?igshid=MzRlODBiNWFlZA=="
                    class="rede-item"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://github.com/Th0mzzz/QuasArt" class="rede-item"><i
                        class="bi bi-github"></i></a>
                <a target="_blank" href="mailto:quasartcontato@gmail.com" class="rede-item"><i
                        class="bi bi-envelope"></i></a>
            </article>
        </header>
        <p class="text">&COPY;Quasart 2024</p>
    </footer>
    <script src=".//js/landingNav.js"></script>
    <script src="./js/carousel.js"></script>

</body>

</html>