<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasart</title>
    <link rel="shortcut icon" href="./img/quasart-logo-pequena.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login/login.css">
</head>
<body>
    <main>
        <a href="/" class="btn homebtn"><i class="bi bi-house"></i></a>
        <section class="section__login">
            <%- include(page) %>
        </section>
    </main>
</body>
<script src="./js/input.js"></script>
<script src="./js/abrirModal.js"></script>
</html>