<!DOCTYPE html>
<html lang="pt-br">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quasart</title>
        <link rel="shortcut icon" href="./img/quasart_logo_pequena.png" type="image/x-icon">
        <link rel="stylesheet" href="./css/base.css">
        <link rel="stylesheet" href="./css/home.css">
    </head>
</head>

<body>
    <header class="home__header">

    </header>
    <main>
        <%- include(page) %>
    </main>
    <footer class="home__footer">

    </footer>
</body>

</html>