<section class="form__pub-container">
    <h2 class="title">Criar <span class="negrito-roxo">Resenha Cósmica</span></h2>
    <form action="/atualizarResenha?idResenha=<%=valores && valores.idResenha ? valores.idResenha : '' %>" class="form__pub resenha" method="post" enctype="multipart/form-data">
        <%- include('./form-resenha') %>
        <button class="btn submit secundaria p-2">Publicar</button>
    </form>
</section>

