.footer__container{
    padding: var(--container-padding-landing);
}
.footer__header {
    display: flex;
    justify-content: space-between;
}

.footer__header .logo {
    display: flex;
    align-items: center;
    gap:2rem;
}

.footer__header .logo{  
    color: var(--cor-secundaria);
}

.footer__header .redes .rede-item{  
    color: var(--cor-secundaria);
    font-size: 25px;
    margin: 0 10px;
}
.footer__header .redes .rede-item:hover{  
    color: var(--cor-secundaria-hover);
    margin: 0 10px;
}
.footer__container >.text{
    color: var(--cor-secundaria);
    padding: 2rem;
    text-align: center;
}
