<section class="assinatura__modal modal" id="assinaturaModal">
    <button class="closeBtn btn"><i class="bi bi-x-lg"></i></button>
    <section class="modal__content">
        <article class="option comandante">
            <h2 class="title">Comandante <span class="negrito-amarelo">PLUS+</span></h2>
            <article class="planos">
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c9380849154066301915c29114705c2" class="plano__link link">
                    <h4 class="subtitle">Mensal</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">45<span
                                class="subtitle">,00</span></span>/mês
                    </p>
                </a>
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c938084915406c201915c2a9674058f" class="plano__link link">
                    <h4 class="subtitle">Semestral</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">199<span
                                class="subtitle">,50</span></span>/mês
                    </p>
                    <span class="text negrito-roxo">(Desconto de 5% por mês)</span>
                </a>
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c9380849154066301915c2b4eee05c3" class="plano__link link">
                    <h4 class="subtitle">Anual</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">378<span
                                class="subtitle">,00</span></span>/mês
                    </p>
                    <span class="text negrito-roxo">(Desconto de 10% por mês)</span>
                </a>
            </article>
        </article>
        <article class="option tripulante">
            <h2 class="title">Tripulante <span class="negrito-roxo">PLUS+</span></h2>
            <article class="planos">
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c938084910f95b60191278282070698" class="plano__link link">
                    <h4 class="subtitle">Mensal</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">35<span
                                class="subtitle">,00</span></span>/mês
                    </p>
                </a>
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c938084910f95b901912783200906ba"
                    class="plano__link link">
                    <h4 class="subtitle">Semestral</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">153<span
                                class="subtitle">,90</span></span>/mês
                    </p>
                    <span class="text negrito-roxo">(Desconto de 5% por mês)</span>
                </a>
                <a href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c938084910f959d0191278861dd06d3"
                    class="plano__link link">
                    <h4 class="subtitle">Anual</h4>
                    <p class="subtitle">R$ <span id="precoTripulante" class="title negrito-amarelo">291<span
                                class="subtitle">,60</span></span>/mês
                    </p>
                    <span class="text negrito-roxo">(Desconto de 10% por mês)</span>
                </a>
            </article>
        </article>
    </section>
</section>

<script src="./js/abrirModal.js"></script>
<script>
    const options = document.querySelectorAll(".option")
    btnsOpenModal.forEach(btn => {

        btn.addEventListener("click", () => {
            options.forEach(option => {
                option.classList.remove("active")
                if (btn.classList.contains("tripulante-btn") && option.classList.contains("tripulante")) {
                    option.classList.add("active")
                } else if (btn.classList.contains("comandante-btn") && option.classList.contains("comandante")) {
                    option.classList.add("active")
                }
            })
        });

    });

</script>