<section class="assinatura__modal modal" id="assinaturaModal">
    <button class="closeBtn btn"><i class="bi bi-x-lg"></i></button>
    <section class="modal__content">
        <article class="option comandante">
            <h2 class="title">Comandante <span class="negrito-amarelo">PLUS+</span></h2>
            <article class="planos">
                <a href="" class="plano__link link">
                    <h4 class="subtitle">Mensal</h4>
                    <p class="subtitle  mb-2">R$ <span id="precoTripulante" class="title negrito-roxo">35,<span
                                class="subtitle">00</span></span>/mês
                    </p>
                </a>
                <a href="" class="plano__link">

                </a>
                <a href="" class="plano__link">

                </a>
            </article>
        </article>
        <article class="option tripulante">
            <h2 class="title">Tripulante <span class="negrito-roxo">PLUS+</span></h2>
            <article class="planos">

            </article>
        </article>
    </section>
</section>

<script src="./js/abrirModal.js"></script>
<script>
    const options = document.querySelectorAll(".option")
    btnsOpenModal.forEach(btn => {

        btn.addEventListener("click", () => {
            options.forEach(option => {
                option.classList.remove("active")
                if (btn.classList.contains("tripulante-btn") && option.classList.contains("tripulante")) {
                    option.classList.add("active")
                } else if (btn.classList.contains("comandante-btn") && option.classList.contains("comandante")) {
                    option.classList.add("active")
                }
            })
        });

    });

</script>