<!-- CARDS RESENHAS -->

<article class="card__resenha">
    <header class="card__img">
        <a href="#">
            <img class="img__resenha" src="./img/cards/card-resenha-teste.png" alt="imagem da resenha">
        </a>
        <article class="usuario">
            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
            <a href="/profile" class="link">Th0mzzz</a>
        </article>
    </header>
    <footer class="card__content">
        <h5 class="link">Carros 2! Retorno do Marquinhos</h5>
        <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.Lorem
            Ipsum is simply dummy text.</p>
        <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
    </footer>
</article>

<!-- CARD FICHAS -->

<article class="card__ficha">
    <a href="#" class="card__content">
        <img src="./img/cards/" alt="imagem da ficha">
        <article class="card-title">
            <h4 class="subtitle"></h4>
        </article>
    </a>
    <footer class="card__autor">
        <article class="usuario">
            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
            <a href="/profile" class="smallText"></a>
        </article>
        <p class="smallText"></p>
    </footer>
</article>

<!-- CARDS VIDEOS -->

<article class="card__video">
    <a href="#" class="card__content">
        <img src="./img/cards/card-video-teste2.png" alt="imagem da ficha">

        <header class="card-title">
            <h4 class="link"><i class="bi bi-play-fill me-1"></i>9K</h4>
        </header>
    </a>
</article>