<section class="carousel__container mt-3 mb-3">
    <article class="arrows">
        <button class="arrow-btn previous"><i class="bi bi-arrow-left-short"></i></button>
        <button class="arrow-btn next"><i class="bi bi-arrow-right-short"></i></button>
    </article>
    <section class="carousel__inner">
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste3.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste.png" alt="imagem do autor">
                        <a href="/view-profile?idUser=29" class="link">Gabi Dantas</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">God of War Valhalla! Críticas</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste2.png" alt="imagem do autor">
                        <a href="/profile" class="link">Th0mzzz</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">Carros 2! Retorno do Marquinhos</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste2.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste3.png" alt="imagem do autor">
                        <a href="/profile" class="link">Mariana Ferraz</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">Por que CREED 2 é o melhor filme da trilogia?</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste3.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste.png" alt="imagem do autor">
                        <a href="/profile" class="link">Gabi Dantas</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">God of War Valhalla! Críticas</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste2.png" alt="imagem do autor">
                        <a href="/profile" class="link">Th0mzzz</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">Carros 2! Retorno do Marquinhos</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
        <article class="card">
            <article class="card__resenha">
                <header class="card__img">
                    <a href="#">
                        <img class="img__resenha" src="./img/cards/card-resenha-teste2.png" alt="imagem da resenha">
                    </a>
                    <article class="usuario">
                        <img src="./img/user-teste3.png" alt="imagem do autor">
                        <a href="/profile" class="link">Mariana Ferraz</a>
                    </article>
                </header>
                <footer class="card__content">
                    <h5 class="link">Por que CREED 2 é o melhor filme da trilogia?</h5>
                    <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem
                        Ipsum is simply dummy text.</p>
                    <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                </footer>
            </article>
        </article>
    </section>
</section>