<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio1" value="Conteúdo sexual">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio1">Conteúdo sexual</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio2" value="Conteúdo violento ou repulsivo">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio2">Conteúdo violento ou repulsivo</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio3" value="Conteúdo de incitação ao ódio ou abusivo">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio3">Conteúdo de incitação ao ódio ou abusivo</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio4" value="Assédio ou bullying">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio4">Assédio ou bullying</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio5" value="Atos perigosos ou nocivos">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio5">Atos perigosos ou nocivos</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio6" value="Desinformação">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio6">Desinformação</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio7" value="Abuso infantil">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio7">Abuso infantil</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio8" value="Promove terrorismo">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio8">Promove terrorismo</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio9" value="Spam ou enganoso">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio9">Spam ou enganoso</label>
</article>
<article class="input__radio">
    <input required type="radio" name="denunciaRadio" id="denunciaRadio10" value="Problema jurídico">
    <span class="radio-btn"></span>
    <label class="link" for="denunciaRadio10">Problema jurídico</label>
</article>
<article class="input__container">
    <textarea name="descricaoDenuncia" id="descricaoDenuncia" class="input__control" placeholder="" maxlength="300"></textarea>
    <label class="link" for="descricaoDenuncia">Descreva o motivo da denúncia (opcional)</label>
</article>
