<section class="posts__container">
    <h2 class="title">Gerenciamento de postagens</h2>
    <section class="posts">
        <article class="post__item">
            <img src="./img/cards/card-video-teste.png" alt="capa do post" class="post__capa">
            <article class="info__post">
                <header>
                    <h4 class="subtitle">Título da obra</h4>
                    <h4 class="text">01/01/2024</h4>
                </header>
                <footer>
                    <ul class="post__estatis">
                        <li class="item text">200mil <i class="bi bi-eye"></i></li>
                        <li class="item text">3/5 <i class="bi bi-star-fill"></i></li>
                        <li class="item text">27mil <i class="bi bi-chat"></i></li>
                    </ul>
                    <ul class="post__btns">
                        <li><button class="btn-icon link"><i class="bi bi-pencil-fill"></i></button></li>
                        <li><button class="btn-icon link"><i class="bi bi-trash-fill"></i></button></li>
                    </ul>
                </footer>
            </article>
        </article>
    </section>
</section>