<section class="area__perfil">
    <header class="header__perfil">
        <img src="./img/perfil-padrao.webp" alt="foto de perfil do usuário" class="foto__perfil">
        <h3 class="subtitle">Nome do usuário</h3>
        <section class="estatisticas__usuario">
            <article class="item">
                <p class="link">Postagens</p>
                <h3 class="subtitle">3</h3>
            </article>
            <article class="item">
                <p class="link">Seguidores</p>
                <h3 class="subtitle">40</h3>
            </article>
            <article class="item">
                <p class="link">Curtidas</p>
                <h3 class="subtitle">10K</h3>
            </article>
        </section>
    </header>
</section>