<!-- Area de perfil que é incluida no template -->
<section class="area__perfil">
    <header class="header__perfil">
        <a href="/sair" class="btn"><i class="bi bi-box-arrow-left"></i></a>
        <img src="./img/perfil-padrao.webp" alt="foto de perfil do usuário" class="foto__perfil">
        <h3 class="subtitle">Th0mzzz</h3>
        <article class="row-items">
            <button class="btn mt-2 link">Seguir</button>
            <section class="estatisticas__usuario">
                <article class="item">
                    <p class="link">Postagens</p>
                    <h3 class="subtitle">3</h3>
                </article>
                <article class="item">
                    <p class="link">Seguidores</p>
                    <h3 class="subtitle">40</h3>
                </article>
                <article class="item">
                    <p class="link">Curtidas</p>
                    <h3 class="subtitle">1K</h3>
                </article>
            </section>
        </article>

    </header>
    <section class="postagens__perfil">
        <article class="btns-section">
            <button class="btn-section link ativo" data-btnSection="fichas" title="fichas"><i
                    class="bi bi-grid"></i></button>
            <button class="btn-section link" data-btnSection="resenhas" title="resenhas"><i
                    class="bi bi-card-text"></i></button>
            <button class="btn-section link" data-btnSection="videos" title="videos"><i
                    class="bi bi-camera-video"></i></button>
        </article>
        <section class="postagens__section ativo" data-section="fichas">
            <h3 class="title">Fichas</h3>
            <section class="conteudo-row p-1">
                <article class="card__ficha">
                    <a href="#" class="card__content">
                        <img src="./img/cards/card-ficha-teste.png" alt="imagem da ficha">
                        <article class="card-title">
                            <h4 class="subtitle">Calor e Amor</h4>
                        </article>
                    </a>
                    <footer class="card__autor">
                        <article class="usuario">
                            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                            <a href="/profile" class="link">Th0mzzz</a>
                        </article>
                        <p class="text">00/00/0000</p>
                    </footer>
                </article>
                <article class="card__ficha">
                    <a href="#" class="card__content">
                        <img src="./img/cards/card-ficha-teste2.png" alt="imagem da ficha">
                        <article class="card-title">
                            <h4 class="subtitle">Cantos dos Mortais</h4>
                        </article>
                    </a>
                    <footer class="card__autor">
                        <article class="usuario">
                            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                            <a href="/profile" class="link">Username</a>
                        </article>
                        <p class="text">00/00/0000</p>
                    </footer>
                </article>
            </section>
        </section>
        <section class="postagens__section " data-section="resenhas">
            <h3 class="title">Resenhas</h3>
            <section class="conteudo-row p-1">
                <article class="card__resenha">
                    <header class="card__img">
                        <a href="#">
                            <img class="img__resenha" src="./img/cards/card-resenha-teste.png" alt="imagem da resenha">
                        </a>
                        <article class="usuario">
                            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                            <a href="/profile" class="link">Th0mzzz</a>
                        </article>
                    </header>
                    <footer class="card__content">
                        <h5 class="link">Carros 2! Retorno do Marquinhos</h5>
                        <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.Lorem
                            Ipsum is simply dummy text.</p>
                        <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                    </footer>
                </article>
                <article class="card__resenha">
                    <header class="card__img">
                        <a href="#">
                            <img class="img__resenha" src="./img/cards/card-resenha-teste2.png" alt="imagem da resenha">
                        </a>
                        <article class="usuario">
                            <img src="./img/perfil-padrao.webp" alt="imagem do autor">
                            <a href="/profile" class="link">Th0mzzz</a>
                        </article>
                    </header>
                    <footer class="card__content">
                        <h5 class="link">Por que CREED 2 é o melhor filme da trilogia?</h5>
                        <p class="text mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.Lorem
                            Ipsum is simply dummy text.</p>
                        <a href="" class="btn"><i class="bi bi-arrow-right-circle"></i></a>
                    </footer>
                </article>
            </section>
        </section>
        <section class="postagens__section " data-section="videos">
            <h3 class="title">Videos</h3>
            <section class="conteudo-row p-1">
                <article class="card__video">
                    <a href="#" class="card__content">
                        <img src="./img/cards/card-video-teste.png" alt="imagem da ficha">

                        <header class="card-title">
                            <h4 class="link"><i class="bi bi-play-fill me-1"></i>10K</h4>
                        </header>
                    </a>
                </article>
                <article class="card__video">
                    <a href="#" class="card__content">
                        <img src="./img/cards/card-video-teste2.png" alt="imagem da ficha">

                        <header class="card-title">
                            <h4 class="link"><i class="bi bi-play-fill me-1"></i>9K</h4>
                        </header>
                    </a>
                </article>
            </section>
        </section>
    </section>
</section>
<script src="./js/toggleSection.js"></script>
<script src="./js/carousel.js"></script>
