<section class="pesquisa__container">
    <header class="pesquisa__header">
        <form action="" method="post" class="pesquisa__form">
            <article class="input__container">
                <input type="search" name="pesquisaInput" id="pesquisaInput" placeholder="O que você procura?">
                <label for="pesquisaInput">O que você procura?</label>
                <button class="pesquisa-btn" type="submit"><i class="bi bi-search"></i></button>
            </article>
        </form>
    </header>
</section>