<section class="plus__container">
    <h2 class="subtitle">Tenha acesso a diversos benefícios e descobra ainda mais desse universo de obras e
        entretenimentos sendo um <span class="negrito-roxo">PLUS+</span></h2>
    <section class="plus__cards">
        <section class="plus__card">
            <header>
                <h4 class="title">Tripulante <span class="negrito-roxo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante" class="title negrito-roxo">19,99</span>/mês
                </p>
                <p class="link">Semestral <span class="negrito-roxo">R$ 108,00 </span>(desconto 10% por mês)</p>
                <p class="link">Anual <span class="negrito-roxo">R$ 192,00 </span> (desconto 20% por mês)</p>
                <button class="btn secundaria lg mt-3">Decolar!</button>
            </header>
            <article class="plus__recursos">
                <h4 class="subtitle negrito-roxo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i> Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Seja membro</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Selo Premium</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> 1 Ficha grátis</li>
                </ul>
            </article>
        </section>
        <section class="plus__card recomendado">
            <p class="subtitle recomendado__alert">Recomendado</p>
            <header>
                <h4 class="title">Comandante <span class="negrito-amarelo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante"
                        class="title negrito-amarelo">19,99</span>/mês</p>
                <p class="link">Semestral <span class="negrito-amarelo">R$ 108,00 </span>(desconto 10% por mês)</p>
                <p class="link">Anual <span class="negrito-amarelo">R$ 192,00 </span> (desconto 20% por mês)</p>
                <button class="btn lg mt-3" data-openmodal='#modalTripulante' >Decolar!</button>
            </header>
            <article class="plus__recursos">
                <h4 class="subtitle negrito-amarelo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i> Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Seja membro</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Selo Premium</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> 1 Ficha grátis</li>
                </ul>
            </article>
        </section>
    </section>
</section>

<section class="modal" id="modalTripulante">
    <section class="modal__content"><h2>oi</h2> <div class="closeBtn"></div></section>
</section>