<section class="plus__container">
    <h2 class="subtitle">Tenha acesso a diversos benefícios e descobra ainda mais desse universo de obras e
        entretenimentos sendo um <span class="negrito-roxo">PLUS+</span></h2>
    <section class="plus__cards">
        <section class="plus__card viajante">
            <header>
                <h4 class="title">Viajante</h4>
                <p class="subtitle mt-2 mb-2"><span id="precoTripulante" class="title negrito-roxo">Gratuito</span>
                </p>
            </header>
            <article class="plus__recursos">
                <h4 class="link negrito-roxo">O que você perde...</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-x"></i>Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-x"></i>Suporte prioritário</li>
                    <li class="recurso__item link"><i class="bi bi-x"></i>Melhor divulgação na plataforma</li>
                    <li class="recurso__item link"><i class="bi bi-x"></i>Selo premium</li>
                </ul>
            </article>
            <span class="btn secundaria lg mt-3 hidden">Decolar!/span>

        </section>
        <section class="plus__card recomendado">
            <p class="subtitle recomendado__alert">Recomendado</p>
            <header>
                <h4 class="title">Comandante <span class="negrito-amarelo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante" class="title negrito-roxo">45,<span
                            class="subtitle">00</span></span>/mês
                </p>
                <p class="link">Semestral <span class="negrito-roxo">R$ 199,50 </span> (desconto 5% por mês)</p>
                <p class="link">Anual <span class="negrito-roxo">R$ 378,00 </span> (desconto 10% por mês)</p>
            </header>
            <article class="plus__recursos">
                <h4 class="link negrito-roxo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i>Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Suporte prioritário</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Melhor divulgação na plataforma</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Selo premium</li>
                </ul>
            </article>
            <!-- href="https://www.mercadopago.com.br/subscriptions/checkout?preapproval_plan_id=2c938084910f95b60191278282070698" -->
            <a data-openmodal="#assinaturaModal" class="btn secundaria lg mt-3 comandante-btn">Decolar!</a>

        </section>
        <section class="plus__card">
            <header>
                <h4 class="title">Tripulante <span class="negrito-roxo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante" class="title negrito-roxo">35,<span
                            class="subtitle">00</span></span>/mês
                </p>
                <p class="link">Semestral <span class="negrito-roxo">R$ 153,90 </span>(desconto 5% por mês)</p>
                <p class="link">Anual <span class="negrito-roxo">R$ 291,60 </span> (desconto 10% por mês)</p>
            </header>
            <article class="plus__recursos">
                <h4 class="link negrito-roxo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i> Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Seja membro</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Selo Premium</li>
                </ul>
            </article>
            <a data-openmodal="#assinaturaModal" class="btn secundaria lg mt-3 tripulante-btn">Decolar!</a>

        </section>
    </section>
</section>

<%- include("./assinatura-modal") %>