<section class="plus__container">
    <h2 class="subtitle">Tenha acesso a diversos benefícios e descobra ainda mais desse universo de obras e
        entretenimentos sendo um <span class="negrito-roxo">PLUS+</span></h2>
    <section class="plus__cards">
        <section class="plus__card">
            <header>
                <h4 class="title">Tripulante <span class="negrito-roxo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante" class="title negrito-roxo">27,00</span>/mês
                </p>
                <p class="link">Semestral <span class="negrito-roxo">R$ 153,9 </span>(desconto 5% por mês)</p>
                <p class="link">Anual <span class="negrito-roxo">R$ 291,6 </span> (desconto 10% por mês)</p>
            </header>
            <article class="plus__recursos">
                <h4 class="link negrito-roxo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i> Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Seja membro</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i> Selo Premium</li>
                </ul>
            </article>
            <button class="btn secundaria lg mt-3">Decolar!</button>

        </section>
        <section class="plus__card recomendado">
            <p class="subtitle recomendado__alert">Recomendado</p>
            <header>
                <h4 class="title">Comandante <span class="negrito-amarelo">PLUS+</span></h4>
                <p class="subtitle mt-2 mb-2">R$ <span id="precoTripulante"
                        class="title negrito-roxo">35,00</span>/mês</p>
                <p class="link">Semestral <span class="negrito-roxo">R$ 199,5 </span> (desconto 5% por mês)</p>
                <p class="link">Anual <span class="negrito-roxo">R$ 378,0 </span> (desconto 10% por mês)</p>
            </header>
            <article class="plus__recursos">
                <h4 class="link negrito-roxo">Principais Recursos</h4>
                <ul class="recursos">
                    <li class="recurso__item link"><i class="bi bi-check"></i>Anúncios bloqueados</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Suporte prioritário</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Melhor divulgação na plataforma</li>
                    <li class="recurso__item link"><i class="bi bi-check"></i>Selo premium</li>
                </ul>
            </article>
            <button class="btn secundaria lg mt-3">Decolar!</button>

        </section>
    </section>
</section>

