<section class="publicacao__cards">
    <section class="pub__card">
        <header>
            <h3 class="subtitle"> <i class="bi bi-camera-video-fill me-2"></i>Via videos</h3>
            <p class="text mb-2 mt-2">Via videos são uma forma de postar seu conteúdo de forma dinamica, rápida, para as pessoas conhecerem novas obras de diversas maneiras e perspectivas!</p>
        </header>
        <article class="content__card">
            <img src="./img/cards/card-pub-teste1.png" alt="imagem de um astronauta segurando um ipad" class="pub__card-img mb-3">
        </article>
        <a href="/via-videos-pub" class="btn">Criar</a>
    </section>
    <section class="pub__card">
        <header>
            <h3 class="subtitle"><i class="bi bi-file-earmark-richtext-fill me-2   "></i>Ficha Espacial</h3>
            <p class="text mb-2 mt-2"> Fichas espaciais são uma forma de postar seu conteúdo de forma completa e complexa para as pessoas conhecerem tudo sobre sua obra, onde achar, e até comprar!</p>
        </header>
        <article class="content__card">
            <img src="./img/cards/card-pub-teste2.png" alt="foguete laranja e branco" class="pub__card-img mb-3">
        </article>
        <a href="/ficha-espacial-pub" class="btn">Criar</a>
    </section>
    <section class="pub__card">
        <header>
            <h3 class="subtitle"><i class="bi bi-pen-fill me-2"></i>Resenhas Cósmicas</h3>
            <p class="text mb-2 mt-2">Resenhas Cósmicas são uma forma de postar suas opiniões e experiências com as mais diversas obras, em busca de recomendar, criticar e até dizer qual seu personagem favorito!</p>
        </header>
        <article class="content__card">
            <img src="./img/cards/card-pub-teste3.png" alt="saturno amarelo e laranja" class="pub__card-img mb-3">
        </article>
        <a href="/resenha-cosmica-pub" class="btn">Criar</a>
    </section>
</section>