<section class="form__pub-container">
    <form action="/criarVideo" class="form__pub">
        <article class="input__container input-file">
            <span class="invalid-msg smallText">
            </span>
            <input type="file" name="capaVideo" id="capaVideo" class="input__control" placeholder="Título do video" required>
            <label for="capaVideo">Selecione a capa do vídeo</label>
            <label for="capaVideo" class="icon"><i class="bi bi-download"></i></label>
        </article>
        <section class="form__row">
            <article class="input__container">
                <span class="invalid-msg smallText">
                </span>
                <input type="text" name="" id="" class="input__control" placeholder="Título do video" required value="">
                <label for="">Título do video</label>
            </article>
        </section>

    </form>
</section>