<section class="form__pub-container">
    <h2 class="title">Criar <span class="negrito-roxo">ViaVideo</span></h2>
    <form action="/criarVideo" class="form__pub" method="post">
        <header class="form__row">
            <article class="input__container input-file" data-capaContainer>
                <span class="invalid-msg smallText">
                </span>
                <input type="file" name="capaVideo" id="capaVideo" class="input__control" placeholder="Título do video"
                    required data-inputCapa>
                <label for="capaVideo">Selecione a capa do vídeo</label>
                <label for="capaVideo" class="icon"><i class="bi bi-download"></i></label>
            </article>
            <section>
                <input type="hidden" name="idUsuario" id="idUsuario" value="">
                <article class="input__container">
                    <span class="invalid-msg smallText">
                    </span>
                    <input type="text" name="tituloVideo" id="tituloVideo" class="input__control"
                        placeholder="Título do video" required value="">
                    <label for="tituloVideo">Título do vídeo</label>
                </article>
                <article class="input__container">
                    <span class="invalid-msg smallText">
                    </span>
                    <textarea name="descricao" id="descricao" placeholder="A" maxlength="400"></textarea>
                    <label for="descricao">Descrição</label>
                </article>
                <article class="input__container">
                    <span class="invalid-msg smallText">
                        Limite de tags atingido!
                    </span>
                    <input type="text" name="tagsInput" id="tagsInput" class="tagInput" placeholder="" maxlength="30">
                    <label for="tags">Digite as Hashtags do seu video</label>
                </article>
                <div id="tagsContainer"></div>
            </section>
        </header>
        <article class="input__container input-file">
            <span class="invalid-msg smallText">
            </span>
            <input type="file" name="tituloVideo" id="tituloVideo" class="input__control" placeholder="Título do video"
                required value="">
            <label for="tituloVideo">Adicionar Vídeo</label>
            <label for="capaVideo" class="icon"><i class="bi bi-download"></i></label>

        </article>
        <button class="btn submit secundaria p-2">Publicar</button>
    </form>
</section>
<script src="./js/criarTag.js"></script>
<script src="./js/addPrevia.js"></script>
<script src="./js/addCapa.js"></script>