<section class="view__container resenha-view">
    <header class="resenha__header">
        <img src="./img/cards/card-resenha-teste.png" alt="imagem de capa da resenha" class="resenha__capa">
        <section class="row">
            <a href="/view-profile?idUser=36" class="userLink link"><img src="./img/user-teste.png" alt="foto do autor"
                    class="userImg">Nome
                do usuário</a>
            <button class="btn">Seguir</button>
        </section>
    </header>
    <article class="resenha__content">
        <h2 class="title">Título da Resenha</h2>
        <section class="text__area">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident neque sed ullam,
                repudiandae necessitatibus vel reiciendis iste perspiciatis odio tempora enim adipisci tenetur rem.
                Facere rem earum autem maiores excepturi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, 
                tenetur vel. Dolore molestias et perferendis. Nobis vitae, minima sequi odit, accusantium in repudiandae 
                provident corrupti nihil maxime facilis tenetur quos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cum maxime, libero repellendus nesciunt ab ullam neque laborum at repudiandae odio quia. 
                repudiandae necessitatibus vel reiciendis iste perspiciatis odio tempora enim adipisci tenetur rem.
                Facere rem earum autem maiores excepturi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, 
                tenetur vel. Dolore molestias et perferendis. Nobis vitae, minima sequi odit, accusantium in repudiandae 
                provident corrupti nihil maxime facilis tenetur quos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cum maxime, libero repellendus nesciunt ab ullam neque laborum at repudiandae odio quia. 
                repudiandae necessitatibus vel reiciendis iste perspiciatis odio tempora enim adipisci tenetur rem.
                Facere rem earum autem maiores excepturi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, 
                tenetur vel. Dolore molestias et perferendis. Nobis vitae, minima sequi odit, accusantium in repudiandae 
                provident corrupti nihil maxime facilis tenetur quos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cum maxime, libero repellendus nesciunt ab ullam neque laborum at repudiandae odio quia. 
                repudiandae necessitatibus vel reiciendis iste perspiciatis odio tempora enim adipisci tenetur rem.
                Facere rem earum autem maiores excepturi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, 
                tenetur vel. Dolore molestias et perferendis. Nobis vitae, minima sequi odit, accusantium in repudiandae 
                provident corrupti nihil maxime facilis tenetur quos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cum maxime, libero repellendus nesciunt ab ullam neque laborum at repudiandae odio quia. 
                repudiandae necessitatibus vel reiciendis iste perspiciatis odio tempora enim adipisci tenetur rem.
                Facere rem earum autem maiores excepturi?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, 
                tenetur vel. Dolore molestias et perferendis. Nobis vitae, minima sequi odit, accusantium in repudiandae 
                provident corrupti nihil maxime facilis tenetur quos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cum maxime, libero repellendus nesciunt ab ullam neque laborum at repudiandae odio quia. 
                 Rem tempora alias suscipit officiis nostrum dolorum, rerum minima.</p>
        </section>
        <footer class="row">
            <article id="tagsContainer">
                <span class="tag text">#Resenhalegal</span>
                <span class="tag text">#ebaeba</span>
                <span class="tag text">#que</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
                <span class="tag text">#maneiro</span>
            </article>
            <article class="avaliacao__stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </article>
        </footer>
    </article>
    <footer class="comentarios__container">
        <h3 class="subtitle">Comentários</h3>
        <form action="/comentarResenha" class="comment__form">

        </form>
        <section class="comentarios">
            <article class="comment__item">
                <header class="comment__user">
                    <img src="" alt="foto de perfil do comentário" class="userImg">
                    <h4 class="link">Th0mzzz</h4>
                </header>
            </article>
        </section>
    </footer>
</section>