<section class="view__container ficha-view">
    <header class="ficha__header">
        <section class="ficha__info">
            <img src="./img/cards/card-ficha-teste2.png" alt="imagem de capa da ficha">
            <article class="estatistica__ficha">
                <h2 class="title mb-2">Harry Potter e a Pedra Filosofal</h2>
                <section class="row user">
                    <a href="/view-profile?idUser=36" class="userLink link"><img src="./img/user-teste.png"
                            alt="foto do autor" class="userImg">Nome
                        do usuário</a>
                    <button class="btn">Seguir</button>
                </section>
                <section class="row mt-2">
                    <article class="estatistica">
                        <article class="btn secundaria"><i class="bi bi-eye"></i></article>
                        <p class="text mt-1">2mi</p>
                    </article>
                    <article class="estatistica">
                        <article class="btn secundaria"><i class="bi bi-star"></i></article>
                        <p class="text mt-1">875k</p>
                    </article>
                    <article class="estatistica">
                        <article class="btn secundaria"><i class="bi bi-heart"></i></article>
                        <p class="text mt-1">50k</p>
                    </article>
                </section>
            </article>
        </section>
        <section class="ficha__sinopse">
            <article class="box p-3">
                <h3 class="subtitle mb-1">Sinopse</h3> 
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam corrupti optio quis, voluptatibus non est eos, sequi accusantium at amet dolorum repudiandae nulla voluptates libero sapiente vitae veniam ipsum dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem praesentium adipisci ipsa, ipsam rerum veniam autem ea similique dignissimos, architecto voluptas earum ipsum minima minus, ratione rem quo vitae consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium possimus tenetur accusantium. Dolorem, fugiat quasi assumenda et veniam deserunt recusandae, a necessitatibus impedit voluptas vero consequatur laboriosam. Ullam, tenetur necessitatibus? </p>
            </article>
        </section>
    </header>
</section>