@import '../../abstract/mixins';
@import '../../abstract/variaveis'; 

.premium_top{
    padding: 3rem;
    width: 100%;
    display: flex;
    background-color: $cor-texto;
    .logotipo{
        margin: 0 auto;
        font-weight: bold;
        color: $cor-principal-escura;
        img{
            width: 100px;
            height: 100px;
        }

    }
   
}