@import '../../abstract/mixins';
@import '../../abstract/variaveis'; 
header{
    
    .btn__homeback{
        font-size: $fs-title ;
    }
}
.premium_top{
    position: relative;
    padding: 3rem;
    width: 100%;
    display: flex;
  
    .logotipo{ z-index: 2;
        background-color: $cor-fundo;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        color: $cor-principal-escura;
        font-size: $fs-title;
        img{
            width: 150px;
            height: 150px;
        }
        .slogan_plus{
            color: $cor-terciaria;
            font-size: $fs-text * 1.2;
            letter-spacing: 3px;
        }

    }
   
}

.premium_planos{
     width: 100%;
     margin: .5rem 0rem;
     .container_planos{
      background-image: url(../img/space.jpg);
      width: 100%;
      height: auto;
      .plano{
        width: 50%;
        height: auto;
        background-color: $cor-fundo;
      }
     }
}