@mixin alignCenter($direction,$wrap,$justify,$align){
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg-gradient($direction , $cores...){

    background: linear-gradient(to $direction, $cores);

}

