@mixin alignCenter($direction,$wrap,$justify,$align){
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg-gradient($direction , $cores...){

    background: linear-gradient(to $direction, $cores);

}

@keyframes flutuar {
    0% , 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}
