@mixin alignCenter($direction,$wrap,$justify,$align){
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg-gradient($direction , $cores...){

    background: linear-gradient(to $direction, $cores);

}

@mixin slideItem($width , $height, $radius){
        transition: all ease .2s;
        border-radius: $radius;
        flex: 0 0 $width;
        height:$height;
        overflow: hidden;
    &:hover{
        transform: translateY(-10px);
    }
}
