@import './variaveis';
@import './mixins';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $ft-padrao; 
    list-style: none;
}

body, html{
    overflow-x: hidden;
    text-decoration: none;
    width:100vw;
    height:100vh;  
    background:$cor-fundo;
   
}
a , p {
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

:root{
    scroll-behavior: smooth;
}

.assine_ad{
    margin: 5rem 0 ;
    width: 100%;
    height: fit-content;
    padding: 2rem 1rem;
    background-color: $cor-secundaria-clara;
    box-shadow: 1px 1px 5px $cor-texto;
    display: flex;
    @include alignCenter(row,nowrap,center,center);
    gap: 10px;
    
    h2{
        color: $cor-texto;
        font-size:$fs-title;
        text-shadow: none;
        span{
            color: $cor-principal;
        }
        .plus_span{
            color: $cor-terciaria;
        }
    }
    img{
        width:45px;
        height:45px;
    }
}

.form-floating {
    font-size: $fs-text;
    
    .form-control{
        padding: 1rem;
  
        &:focus{
            border: 1px solid $cor-principal;
            box-shadow: 0 0 0 3px $cor-principal-clara;
        }
    }
}
