@import './variaveis';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $ft-padrao; 
    list-style: none;
}

body, html{
    overflow-x: hidden ;
    text-decoration: none;
    width:100vw;
    height:100vh;  
    background-color:$cinza-escuro;
}

:root{
    scroll-behavior: smooth;
}