
// Cores 
$roxo:#994BBD;
$roxo-escuro:#701786;
$roxo-claro:#DA9AF8;
$amarelo:#FFE03B;
$amarelo-escuro:#ffd257;
$azul:#508CD3;
$azul-escuro:#3c6daa;
$white:#ffff;
$preto:#000;
// Fontes
$ft-padrao:'Poppins', sans-serif;

// Font-sizes
$fs-title:25px;
$fs-text:13px;