
// Cores light mode
$cor-principal:#A555EC;
$cor-principal-escura:#58287F;
$cor-principal-clara:#DA9AF8;
$cor-secundaria:#ffd257;
$cor-secundaria-escura:#F2921D;
$cor-secundaria-clara:#fad97d;
$cor-terciaria:#508CD3;
$cor-terciaria-escura:#112B4A;
$cor-fundo:#ffff;
$cor-texto:#151515;
$sucess-color:#82CD47;
$danger-color:#e21d1d;

// Cores dark Mode

$cor-fundo-dark:#151515;
$cor-texto-dark:#ffff;
// Fontes
$ft-padrao:'Poppins', sans-serif;

// Font-sizes
$fs-title:20px;
$fs-text:15px;


