
// Cores 
$cor-principal:#994BBD;
$cor-principal-escura:#701786;
$cor-principal-clara:#DA9AF8;
$cor-secundaria:#FFE03B;
$cor-secundaria-escura:#ffd257;
$cor-secundaria-clara:#fad97d;
$cor-terciaria:#508CD3;
$cor-terciaria-escura:#112B4A;
$cor-fundo:#ffff;
$cor-fundo-escura:#e2e2e2;
$cor-texto:#151515;
$sucess-color:#82CD47;
$danger-color:#e21d1d;
// Fontes
$ft-padrao:'Poppins', sans-serif;

// Font-sizes
$fs-title:25px;
$fs-text:13px;