:root {
    /* CORES */
    --cor-principal: #A555EC;
    --cor-principal-escura: #674188;
    --cor-principal-clara: #de9ffc;
    --cor-secundaria: #ffd86e;
    --cor-secundaria-escura: #ffb55b;
    --cor-secundaria-clara: #fad97d;
    --cor-terciaria: #508CD3;
    --cor-terciaria-escura: #112B4A;
    --cor-fundo: #ffffff;
    --cor-fundo-secundaria: #f0ceff;
    --cor-texto: #151515;
    --sucess-color: #82CD47;
    --danger-color: #e21d1d;
    scroll-behavior: smooth;
    /* FONTES */
    --fs-title: 22px;
    --fs-text: 16px;
    --fs-link: 20px;
    /* Aside width */
    --width-aside: 100%;

}

.dark {

    --cor-fundo-secundaria: #2A2F4F;
    --cor-fundo: #191825;
    --cor-texto: #E9E8E8;

}

body {
    background: var(--cor-fundo);
}

/* Telas até 768px */

@media (max-width:768px) {
    :root {
        --fs-title: 18px;
        --fs-text: 14px;
        --fs-link: 14px;
    }
}