
@import '../abstract/mixins';
@import '../abstract/variaveis';
@import '../abstract/reset';

main{
    height: fit-content;
    
}

.form__container {
    z-index: 9;
    position:relative;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
    background-color: $cor-fundo;
    text-align: center;
    color: $cor-texto;
    padding:2rem 3rem ;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 15px $cor-principal-clara;
    a {
        color: $cor-texto;
        font-size: $fs-text ;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: $fs-title / 1.4;
        margin-top: 1rem;
    }
    .btn__homeback{
        width: 35px;
        height: 35px;
        display: flex;
        position: absolute;
        top: 100px;
        left:20px;
        color: $cor-principal-escura;
        border-radius: 50%;
        z-index: 100;
        transition: color ease .2s;
        i{
            margin: auto;
        }
        &:hover{
            color: $cor-secundaria;
        }
    }
    .trocar__container {
        width: 100%;
        height: 60px;
        display: flex;
        @include alignCenter(row, nowrap, center, center);
        gap: 5px;
        .switch_btn {
            font-size: $fs-text;
            color: $cor-texto;
            border: none;
            width: 50%;
            height: 100%;
            background-color: $cor-fundo;
            transition: all ease .5s;
            cursor: pointer;
        &.ativo  {
                color: $cor-principal-escura;   
                font-weight: bold;
                box-shadow: 0 0 0 5px $cor-principal-clara;
            }
        }
    }

    .form {
        width: 100%;
        max-width: 550px;
        height: 100%;
        min-height: 700px;
        display: none;
        gap: 20px;
        border-radius: 15px;
        height: 100%;
        margin: 0 auto;
        a{
            position: relative;
            margin-top: 10px;
            width: 100%;
            height: 35px;
            color: $cor-terciaria;
            
            &:hover{
                font-weight: bold;
                color: $cor-terciaria-escura;
            }
            .enviar__btn {  
                font-size: $fs-text;
                transition: all ease .4s;
                border-radius: 5px;
                background: transparent;
                color: $cor-principal-escura;
                font-weight: bold;
                border: 1px solid $cor-principal-escura;
                cursor: pointer;
                &:hover{
                    background: $cor-principal-escura;
                    color: $cor-fundo;
                }
            }
        }
        .rede_entrar{
            .rede_btn{
                width: 100%;
                cursor:pointer;
                transition: background ease .3s , color ease .3s , border ease .3s;
               border: 1px solid $cor-terciaria;
               border-radius: 25px;
               color: $cor-terciaria;
               i{
                transition: color ease .3s;
                color: $cor-terciaria;
               }
               &:hover{
                border: 1px solid $cor-terciaria-escura;
                background: $cor-terciaria-escura;
                color: $cor-fundo;
                i{
                    color: $cor-fundo;
                }
            }
            }
        }

       
    &.ativado {
        display: flex;
        @include alignCenter(column, nowrap, center, center);
    }
    
}



}
footer{
    background: $cor-principal-escura;
    p{
        color: $cor-fundo;
    }
}

@media (max-width:425px) {
    
        .header{
            display: none;
        }
        .form__container{
            border: none;
            height: 100vh;
            border-radius: 0;
            padding: 1rem;
        }
    
}

@media (min-width:426px) and (max-width:900px) {
    
        .header{
            display: none;
        }
     
    
}
