
.btn__homeback {
  width: fit-content;
}

.form__container {
  z-index: 9;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: var(--cor-fundo);
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0px 5px 0.6px var(--cor-principal);
  color: var(--cor-texto);
}

.form__container .form {
  width: 100%;
  max-width: 550px;
  height: 100%;
  min-height: 700px;
  display: none;
  gap: 20px;
  border-radius: 15px;
  height: 100%;
  margin: 0 auto;
}
.form__container .form h2 {
  color:var(--cor-principal);
}

.enviar__btn {
  font-size: 15px;
  transition: all ease 0.4s;
  border-radius: 5px;
  background:var(--cor-secundaria);
  color: var(--cor-fundo);
  font-weight: bold;
  cursor: pointer;
}
.enviar__btn:hover , .enviar__btn:focus  {
  background:var(--cor-secundaria-escura);
  color:var(--cor-fundo) ;
}
.rede_btn {
  cursor: pointer;
  transition: background ease 0.3s, color ease 0.3s, border ease 0.3s;
  background:var(--cor-principal);
  border-radius: 25px;
  color: var(--cor-fundo);
}
.rede_btn i {
  transition: color ease 0.3s;
  color: var(--cor-fundo);
}
.rede_btn:hover {
  background:var(--cor-principal-escura);

}

.form__container .form.ativado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer {
  background:var(--cor-fundo);
}
footer p {
  color: var(--cor-texto);
}

.feedback{
  display: none;
  font-size: 14px;
  color: red;

}

@media (max-width: 599px) {

  .form__container {
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  
}