
main {
  height: -moz-fit-content;
  height: fit-content;
}

.form__container {
  z-index: 9;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: var(--cor-fundo);
  text-align: center;
  color:var(--cor-principal);
  padding: 2rem 3rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0px 5px 0.6px;
}
.form__container a {
  color:var(--cor-principal);
  font-size: 15px;
  margin-bottom: 1rem;
}
.form__container .btn__homeback {
  width: 35px;
  height: 35px;
  display: flex;
  position: absolute;
  top: 100px;
  left: 20px;
  color:var(--cor-principal);
  border-radius: 50%;
  z-index: 100;
  transition: color ease 0.2s;
}
.form__container .btn__homeback i {
  margin: auto;
}
.form__container .btn__homeback:hover {
  color:var(--cor-principal);
}
.form__container .trocar__container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.form__container .trocar__container .switch_btn {
  font-size: 15px;
  color:var(--cor-principal);
  border: none;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: all ease 0.5s;
  cursor: pointer;
}
.form__container .trocar__container .switch_btn.ativo {
  color:var(--cor-principal);
  font-weight: bold;
  box-shadow: 0 0 0 5px;
}
.form__container .form {
  width: 100%;
  max-width: 550px;
  height: 100%;
  min-height: 700px;
  display: none;
  gap: 20px;
  border-radius: 15px;
  height: 100%;
  margin: 0 auto;
}
.form__container .form h2 {
  color:var(--cor-principal);
}
.form__container .form a {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  color:var(--cor-principal);
}
.form__container .form a:hover {
  font-weight: bold;
  color:var(--cor-principal);
}
.form__container .form a .enviar__btn {
  font-size: 15px;
  transition: all ease 0.4s;
  border-radius: 5px;
  background:var(--cor-principal);
  color: white;
  font-weight: bold;
  border: 1px solid;
  cursor: pointer;
}
.form__container .form a .enviar__btn:hover {
  background:var(--cor-principal);
  border: 1px solid;
}
.form__container .form .rede_entrar .rede_btn {
  width: 100%;
  cursor: pointer;
  transition: background ease 0.3s, color ease 0.3s, border ease 0.3s;
  background:var(--cor-principal);
  border-radius: 25px;
  color: white;
}
.form__container .form .rede_entrar .rede_btn i {
  transition: color ease 0.3s;
  color: white;
}
.form__container .form .rede_entrar .rede_btn:hover {
  background:var(--cor-principal);
  color: white;
}
.form__container .form .rede_entrar .rede_btn:hover i {
  color: white;
}
.form__container .form.ativado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer {
  background:var(--cor-principal);
}
footer p {
  color: white;
}

@media (max-width: 425px) {
  .header {
    display: none;
  }
  .form__container {
    border: none;
    height: 100vh;
    border-radius: 0;
    padding: 1rem;
  }
}
@media (min-width: 426px) and (max-width: 900px) {
  .header {
    display: none;
  }
}