.carousel_container {
    margin: 2rem auto;
    
}

@media (max-width:1024px) {
    .carousel_container{
        --width-aside:0px
    }
}

h3 {
    padding: 1rem 3rem;
    font-weight: bold;
    color: var(--cor-principal);
}

#inicial {
    margin: 0 auto 3rem auto;
}

.inicial .slide {
    position: relative;
    display: flex;
    background-color: var(--cor-principal);
    height: 550px;
    width: calc(100vw - var(--width-aside));
    overflow: hidden;   
}

.inicial .slide:hover a img {
    transform: scale(1.2);
}

.inicial .slide > a {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.inicial .slide a img {
    width: 100%;
    height: 100%;
}

.inicial .slide div {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(to top, #00000075 45%, transparent);
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: start;
    padding-bottom: 2rem;
}

.inicial .slide div h5 {
    color: white;
}

.inicial .slide div p {
    width: 55%;
    color: white;
    font-size: 12.5px;
}

.inicial .slide div .btn-vermais {
    position: absolute;
    right: 10px;
    padding: 8px;
    border: 1px solid var(--cor-secundaria);
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.2s;
}

.inicial .slide div .btn-vermais span {
    color: var(--cor-secundaria);
}

.inicial .slide div .btn-vermais:hover {
    background-color: var(--cor-secundaria);
}

.inicial .slide div .btn-vermais:hover span {
    color: var(--cor-texto);
    font-weight: bold;
}

.itens .owl-item {
    opacity: 0.8;
    transition: all ease-in 0.2s;
}

.itens .active {
    opacity: 1;
}


.itens .slide a img {
    transition: all ease-in .3s;
    z-index: 1;
    flex-grow: 1;
    max-height: 320px;
}
.itens .slide a div {
    height: 320px;
    transition: all ease-in .3s;
}
.itens .owl-stage-outer {
    overflow:visible !important;
}
.itens .owl-item:hover .slide img , .itens .owl-item:hover .slide a div{
    transform: translateY(-15px);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.521) ;
}


.itens .slide a p {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--cor-texto);
    font-weight: bold;
    background: var(--cor-fundo);
    z-index: 100;
}

.resenhas {
    margin: 5rem 0;
}

.resenhas .owl-item {
    opacity: 0.8;
    transition: opacity ease-in 0.3s;
}

.resenhas .owl-item.active,
.resenhas .owl-item:hover {
    opacity: 1;
}

.resenhas .slide {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: left;
    height: auto;
    max-width: 800px;
    background-color: var(--cor-principal-escura);
    border-radius: 15px;
    gap: 1rem   ;
    overflow: hidden;
    padding: 2rem;
    margin:  0 auto;
}

.resenhas .slide .image {
   
    width: 100%;
    max-height: 300px;
    overflow: hidden;
   
}
.resenhas .slide .image img{
    
    flex-shrink: 1;
    transition: all ease-in .3s;
    filter: brightness(70%) blur(2px);
}

.resenhas .slide .image:hover img{
    filter: brightness(100%) blur(0px);
}

.resenhas .slide .usuario {
    display: flex;
    gap: 10px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    flex-wrap: wrap;
}

.resenhas .slide .usuario a {
    color: #fff;
    font-size: var(--fs-text);
}

.resenhas .slide .usuario a:hover {
    text-decoration: underline;
}

.resenhas .slide .usuario .foto {
    width: 55px;
    height: 55px;
    background-color: var(--cor-fundo);
    border-radius: 50%;
    overflow: hidden;
}

.resenhas .slide .usuario .foto img {
    width: 100%;
    height: 100%;
}

.resenhas .slide .trecho {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: start;
    padding-top: 1.5rem;
}

.resenhas .slide .trecho h5 {
    color:#ffffff;
}

.resenhas .slide .trecho p {
    width: 100%;
    padding: 10px 0;
    max-height: 200px;
    overflow: hidden;
    color:#ffffff;
    font-size: var(--fs-text);

}

.videos .slide {
    position: relative;
    height: auto;
    overflow: hidden;
}

.videos .slide a {
    position: relative;
    width: 100%;
    height: 100%;
}

.videos .slide a video {
    width: 100%;
    height: 100%;
}

.btn-vermais {
    padding: 0.5rem;
    border: 1px solid var(--cor-secundaria);
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-vermais span {
    color: var(--cor-secundaria);
    transition: color ease .2s;
}

.btn-vermais:hover {
    background-color: var(--cor-secundaria);
}

.btn-vermais:hover span {
    color: var(--cor-texto);
    font-weight: bold;
}