@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.carousel_container {
  max-width: 1440px;
  margin: 3rem auto;
}
.carousel_container#inicial {
  margin: 0 auto 3rem auto;
}
.carousel_container .inicial .slide {
  position: relative;
  display: flex;
  background-color: #994BBD;
  height: 550px;
}
.carousel_container .inicial .slide a {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.carousel_container .inicial .slide a img {
  min-width: 500px;
  width: 100%;
  height: 100%;
}
.carousel_container .inicial .slide div {
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.459) 45%, transparent);
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: start;
}
.carousel_container .inicial .slide div h5 {
  color: white;
}
.carousel_container .inicial .slide div p {
  width: 55%;
  color: white;
  font-size: 10.8333333333px;
}
.carousel_container .inicial .slide div .btn-vermais {
  position: absolute;
  right: 10px;
  padding: 8px;
  border: 1px solid #FFE03B;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.2s;
}
.carousel_container .inicial .slide div .btn-vermais span {
  color: #FFE03B;
}
.carousel_container .inicial .slide div .btn-vermais:hover {
  background-color: #FFE03B;
}
.carousel_container .inicial .slide div .btn-vermais:hover span {
  color: #151515;
  font-weight: bold;
}
.carousel_container h3 {
  padding: 1rem 3rem;
  font-weight: bold;
  color: #994BBD;
}
.carousel_container .itens .slide {
  display: flex;
  background: #701786;
  position: relative;
  height: 280px;
}
.carousel_container .itens .slide a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  z-index: 1;
  max-width: 100%;
  min-height: 100%;
}
.carousel_container .resenhas .owl-item {
  opacity: 0.8;
  transition: opacity ease-in 0.3s;
}
.carousel_container .resenhas .owl-item.active, .carousel_container .resenhas .owl-item:hover {
  opacity: 1;
}
.carousel_container .resenhas .slide {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: left;
  height: 300px;
  padding: 3rem 2rem;
  background-color: #701786;
  border-radius: 15px;
}
.carousel_container .resenhas .slide .usuario {
  display: flex;
  gap: 10px;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.carousel_container .resenhas .slide .usuario a {
  color: white;
  font-size: 15.6px;
}
.carousel_container .resenhas .slide .usuario a:hover {
  text-decoration: underline;
}
.carousel_container .resenhas .slide .usuario .foto {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.carousel_container .resenhas .slide .usuario .foto img {
  width: 100%;
  height: 100%;
}
.carousel_container .resenhas .slide .trecho {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: top;
  align-items: start;
  padding-top: 1.5rem;
}
.carousel_container .resenhas .slide .trecho h5 {
  color: white;
}
.carousel_container .resenhas .slide .trecho p {
  width: 100%;
  color: white;
  font-size: 10.8333333333px;
}
.carousel_container .resenhas .slide .trecho .btn-vermais {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #FFE03B;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.carousel_container .resenhas .slide .trecho .btn-vermais span {
  color: #FFE03B;
}
.carousel_container .resenhas .slide .trecho .btn-vermais:hover {
  background-color: #FFE03B;
}
.carousel_container .resenhas .slide .trecho .btn-vermais:hover span {
  color: #151515;
  font-weight: bold;
}
.carousel_container .videos .slide {
  position: relative;
  display: flex;
}
.carousel_container .videos .slide a video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 768) {
  .carousel_container .inicial .slide {
    height: 100px;
  }
}/*# sourceMappingURL=home.css.map */