
.utilities_container{
    position: relative;
    border-left: 1px solid var(--cor-principal);
    padding: 0 10px;
}

.utilities_menu{
    width: 100%;
    margin: 0;
    height: auto;
    z-index: 12;
}

.utility_item{
    width: 100%;
    background:  var(--cor-principal) ;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
}
.utility_item:hover{

    background: var(--cor-principal-escura);
}
