@import '../../abstract/mixins';
@import '../../abstract/variaveis'; 

.pubModal{
    position:fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $cor-principal;
    backdrop-filter: blur(2px);
    z-index: 1000;
    display: none;
    padding: 1rem;
    .close_btn{
        font-size: $fs-title;
        color: $cor-fundo;
    }
}