@import '../../abstract/mixins';
@import '../../abstract/variaveis'; 

.planets__containers{
    width: 100%;
    max-height: 1000px;
    display: flex;
    @include alignCenter(row,wrap,center,center);
    gap: 20px;
   
    .planet{
        position: relative;
        display: flex;
        justify-content:center;
        &:hover{
            .bloqueado{
                display: flex;
            }
        }
        .planet_btn{
            width: 100%;
            height: 100%;
            max-width: 250px;
            max-height: 250px;
            display: flex;
            @include alignCenter(column,nowrap,center,center);
            transition: all ease .2s;
            cursor: pointer;
        
            &:hover{
               
                svg{
                    animation-play-state: paused;
                    background-color: $cor-principal-escura;
                    border-radius: 50px;
                    g{
                        path{
                            fill: $cor-fundo;
                        }
                       }
                }
                P{
                    color: $cor-principal-escura;
                    letter-spacing: 2px;
                }
                
            }

            svg{
                width: 100%;
                height: 80%;
                animation: flutuar ease-in-out 2s infinite;
                transition: all ease .3s;
                
                rect{
                    width: 100%;
                    height: 100%;
                    fill: transparent;
                }

               g{
                path{
                    transition: all .2s;
                    fill: $cor-principal;
                }
               }
                
            
            }
            p{
                transition: all .2s;
                font-size: $fs-title;
                color: $cor-principal;

            }
        
    }
    .bloqueado{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #00000080;
        z-index: 50;
        transition: all .2s;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        i{
            color: $cor-fundo;
            font-size: $fs-title;
        }
    }
    

}
}