
@import '../../abstract/mixins';
@import '../../abstract/variaveis';
@import '../../abstract/reset';

.form__container {
    top: 0;
    z-index: 9;
    position: relative;
    top: 50%;
    margin-top: 5px;
    width: 100%;
    height: 90vh;
    background-color: $cor-fundo;
    border: 1px solid  $cor-principal;
    text-align: center;
    color: $cor-texto;
    padding: 5rem 20px 3rem 20px;
    display: flex;
    p {
        color: $cor-texto;
        font-size: $fs-text / 1.1;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: $fs-title / 1.4;
        margin-top: 1rem;
    }
    .btn__homeback{
        width: 35px;
        height: 35px;
        display: flex;
        position: absolute;
        left:20px;
        color: $cor-principal-escura;
        border-radius: 50%;
        z-index: 100;
        transition: color ease .2s;
        i{
            margin: auto;
        }
        &:hover{
            color: $cor-secundaria;
        }
    }
    .trocar__container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50px;
        display: flex;
        @include alignCenter(row, nowrap, center, center);
        .switch_btn {
            font-size: $fs-text / 1.2;
            color: $cor-texto;
            border: none;
            width: 50%;
            height: 100%;
            background-color: $cor-fundo;
            transition: all ease .5s;
            cursor: pointer;
            &.ativo {
                color: $cor-principal-escura;   
                font-weight: bold;
                box-shadow: 2px 2px 3px $cor-principal-clara;
            }
        }
    }

    .form {
        width: 100%;
        height: fit-content;
        display: none;
        gap: 20px;
        border-radius: 15px;
        margin:auto;
        a {
            position: relative;
            bottom: 0%;
            z-index: 1000;
            transition: all ease .4s;
            color: $cor-texto;
            text-decoration: none;
            font-size: calc($fs-text / 1.4);
            cursor: pointer;
            &:hover {
                color: $cor-secundaria;
            }
        } 
        .a{
            position: static;
            width: 100%;
        }

        .foto-perfil {
            position: relative;
            img {
                
                background: $cor-principal;
                width: 80px;
                height: 80px;
                padding: 1.5px;
                border-radius: 10px;

            }
        }

        input {
            font-size: calc($fs-text / 1.1);
            width: 100%;
            height: 40px;
            background-color: transparent;
            padding: 10px 10px 10px;
            border: none;
            border-bottom: 1px solid $cor-principal;
            outline: none;
            color: $cor-texto;
            transition: all .2s;
            &:focus{
                border-bottom: 1px solid $cor-secundaria-escura;
            }
        }
        
    
        .enviar__btn {
            position: relative;
            font-size: calc($fs-title / 2.3);
            margin-top: 10px;
            transition: all ease .4s;
            height: 35px;
            border-radius: 5px;
            background: transparent;
            color: $cor-principal-escura;
            font-weight: bold;
            border: 1px solid $cor-principal-escura;
            cursor: pointer;
            &:hover {
              background: $cor-principal-escura;  
              color: $cor-fundo;
              border: none;
            }
        }

        .token__container {
            width: 100%;
            margin-top: 20px;

            p {
                margin-bottom: 1rem;
            }

            .token__btns {  
                display: flex;    
                @include alignCenter(row, nowrap, center, center);
                gap: 5px;

                .cod_token {
                    width: calc(100% / 5);
                    height: 50px;
                    text-align: center;
                    font-size: $fs-title;
                }
            }
        }
    }
    .ativado {
        display: flex;
        @include alignCenter(column, nowrap, start, center);
    }
    
}

