<a href="/security" class="index__link subtitle">
    <i class="bi bi-shield-lock "></i>
    Senha e segurança
    <i class="bi bi-arrow-right-short setinha"></i>
</a>
<a href="/dados-pessoais" class="index__link subtitle">
    <i class="bi bi-person"></i>
    Dados pessoais
    <i class="bi bi-arrow-right-short setinha"></i>
</a>
<a href="" class="index__link subtitle">
    <i class="bi bi-wallet2"></i>
    Assinaturas
    <i class="bi bi-arrow-right-short setinha"></i>
</a>

<%- include("../template-home/mudar-foto-modal") %>