<a class="index__link subtitle" data-openmodal="#attSenha" style="cursor:pointer">
    <i class="bi bi-shield-lock"></i>
    Alterar Senha
    <i class="bi bi-arrow-right-short setinha"></i>
</a>

<%- include("./alterarSenha-modal") %>