<a class="index__link subtitle" data-openmodal="#attSenha" style="cursor:pointer">
    <i class="bi bi-shield-lock"></i>
    Alterar Senha
    <i class="bi bi-arrow-right-short setinha"></i>
</a>
<a class="index__link subtitle" data-openmodal="#attEmail" style="cursor:pointer">
    <i class="bi bi-shield-lock"></i>
    Alterar E-mail
    <i class="bi bi-arrow-right-short setinha"></i>
</a>

<%- include("./alterarSenha-modal") %>
<%- include("./alterarEmail-modal") %>

<script src="./js/abrirModal.js"></script>
<script src="./js/addPerfil.js"></script>
<script src="./js/input.js"></script>