@import url('abstract/variaveis.css');
@import url('abstract/reset.css');
@import url('components/aside.css');
@import url('components/footer.css');
@import url('components/header.css');
@import url('components/searchModal.css');



@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}


.assine_ad {
  margin: 5rem 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 1rem;
  background-color: var(--cor-secundaria);
  box-shadow: 1px 1px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.assine_ad h2 {
  color: var(--cor-fundo);
  font-size: 20px;
  text-shadow: none;
}

.assine_ad h2 span {
  color: var(--cor-terciaria);
}

.assine_ad img {
  width: 45px;
  height: 45px;
}

.form-floating label {
  color: #000000;
}

