* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body, html {
  overflow-x: hidden;
  text-decoration: none;
  width: 100vw;
  height: 100vh;
  background-color: #e2e2e2;
}

:root {
  scroll-behavior: smooth;
}

.assine_ad {
  margin: 5rem 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 1rem;
  border-top: 2px solid #994BBD;
  border-bottom: 2px solid #994BBD;
  box-shadow: 0 0 3px #DA9AF8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.assine_ad h2 {
  color: #151515;
  font-size: 11.8181818182px;
  text-shadow: none;
}
.assine_ad img {
  width: 45px;
  height: 45px;
}

aside {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  height: 55px;
}
aside ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #994BBD;
  display: flex;
  gap: 0.6rem;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
aside ul .list {
  height: 100%;
  width: 55px;
  border-radius: 50%;
  transition: all 0.2s;
  background-color: #994BBD;
  display: flex;
}
aside ul .list a {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: auto;
  color: #994BBD;
  background: #ffd257;
  display: flex;
}
aside ul .list a i {
  margin: auto;
}
aside ul .active {
  transform: translateY(-25px);
}
aside ul .active a {
  color: white;
}

.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #994BBD;
}
.header .logotipo {
  margin: auto 0;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.header .logotipo a {
  text-decoration: none;
  color: #994BBD;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .logotipo a .logo_img {
  width: 35px;
  height: 35px;
}
.header .logotipo a .tipografia {
  font-size: 12.5px;
  font-weight: 600;
}
.header .assine-btn {
  position: relative;
  width: 80px;
  border: 1px solid #701786;
  background: transparent;
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.2s;
}
.header .assine-btn span {
  color: #701786;
  position: relative;
  z-index: 2;
}
.header .assine-btn::before {
  content: "";
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  left: 0%;
  bottom: 0%;
  width: 0%;
  height: 100%;
  background-color: #701786;
  transition: all 0.2s;
  z-index: 1;
  border-radius: 3px;
}
.header .assine-btn:hover span {
  color: white;
}
.header .assine-btn:hover::before {
  width: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 15px 15px 120px 15px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
footer .footer-highItens {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DA9AF8;
}
footer .footer-highItens .logotipo a {
  display: flex;
  align-items: center;
}
footer .footer-highItens .logotipo a img {
  width: 35px;
  height: 35px;
}
footer .footer-highItens .logotipo a p {
  font-size: 13px;
  font-weight: bold;
}
footer .footer-highItens .redes {
  display: flex;
  gap: 15px;
}
footer .footer-highItens .redes li {
  cursor: pointer;
}
footer .footer-highItens .redes li:hover i {
  color: #701786;
}
footer .footer-highItens .redes li i {
  font-size: 25px;
  transition: all ease 0.2s;
  color: #DA9AF8;
}
footer .footer__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  gap: 8px;
  padding-top: 15px;
}
footer .footer__links li {
  font-size: 13px;
  text-align: center;
}
footer .footer__links li a {
  color: #151515;
  cursor: pointer;
}
footer .footer__links li a:hover {
  color: #701786;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body, html {
  overflow-x: hidden;
  text-decoration: none;
  width: 100vw;
  height: 100vh;
  background-color: #e2e2e2;
}

:root {
  scroll-behavior: smooth;
}

.assine_ad {
  margin: 5rem 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 1rem;
  border-top: 2px solid #994BBD;
  border-bottom: 2px solid #994BBD;
  box-shadow: 0 0 3px #DA9AF8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.assine_ad h2 {
  color: #151515;
  font-size: 11.8181818182px;
  text-shadow: none;
}
.assine_ad img {
  width: 45px;
  height: 45px;
}

.btn__homeback {
  width: 35px;
  height: 35px;
  display: flex;
  background-color: #994BBD;
  color: white;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}
.btn__homeback i {
  margin: auto;
}

.form__container {
  top: 0;
  z-index: 9;
  position: relative;
  top: 50%;
  margin-top: 5px;
  width: 100%;
  height: 90vh;
  background-color: white;
  border: 1px solid #994BBD;
  text-align: center;
  color: #151515;
  padding: 5rem 20px 3rem 20px;
  display: flex;
}
.form__container p {
  color: #151515;
  font-size: 11.8181818182px;
  margin-bottom: 1rem;
}
.form__container h1 {
  font-size: 17.8571428571px;
  margin-top: 1rem;
}
.form__container .trocar__container {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.form__container .trocar__container .switch_btn {
  font-size: 10.8333333333px;
  color: #151515;
  border: none;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: all ease 0.5s;
}
.form__container .trocar__container .switch_btn.ativo {
  color: #701786;
  font-weight: bold;
  box-shadow: 2px 2px 3px #DA9AF8;
}
.form__container .form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  gap: 20px;
  border-radius: 15px;
  margin: auto;
}
.form__container .form a {
  position: relative;
  bottom: 0%;
  z-index: 1000;
  transition: all ease 0.4s;
  color: #151515;
  text-decoration: none;
  font-size: 9.2857142857px;
}
.form__container .form a:hover {
  color: #FFE03B;
}
.form__container .form .a {
  position: static;
  width: 100%;
}
.form__container .form .foto-perfil {
  position: relative;
  background: gray;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #994BBD;
}
.form__container .form .foto-perfil img {
  width: 100%;
  height: 100%;
}
.form__container .form input {
  font-size: 11.8181818182px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 10px 10px 10px;
  border: none;
  border-bottom: 1px solid #994BBD;
  outline: none;
  color: #151515;
  transition: all 0.2s;
}
.form__container .form input:hover, .form__container .form input:focus {
  border-bottom: 1px solid #701786;
}
.form__container .form .enviar__btn {
  position: relative;
  font-size: 10.8695652174px;
  margin-top: 10px;
  transition: all ease 0.4s;
  height: 35px;
  border-radius: 5px;
  background: transparent;
  color: #701786;
  font-weight: bold;
  border: 1px solid #701786;
}
.form__container .form .enviar__btn:hover {
  background: #701786;
  color: white;
}
.form__container .form .token__container {
  width: 100%;
  margin-top: 20px;
}
.form__container .form .token__container p {
  margin-bottom: 1rem;
}
.form__container .form .token__container .token__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.form__container .form .token__container .token__btns .cod_token {
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 25px;
}
.form__container .ativado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body, html {
  overflow-x: hidden;
  text-decoration: none;
  width: 100vw;
  height: 100vh;
  background-color: #e2e2e2;
}

:root {
  scroll-behavior: smooth;
}

.assine_ad {
  margin: 5rem 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 1rem;
  border-top: 2px solid #994BBD;
  border-bottom: 2px solid #994BBD;
  box-shadow: 0 0 3px #DA9AF8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.assine_ad h2 {
  color: #151515;
  font-size: 11.8181818182px;
  text-shadow: none;
}
.assine_ad img {
  width: 45px;
  height: 45px;
}

.search__container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5882352941);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  transition: all 0.2s;
  z-index: 99;
}
.search__container .input__container {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 3px #151515;
  background-color: white;
}
.search__container .input__container:hover, .search__container .input__container:focus {
  border: 1px solid #701786;
}
.search__container .input__container input {
  width: 90%;
  border: none;
  background: transparent;
  font-size: 11.8181818182px;
  outline: none;
  padding-left: 10px;
  color: #701786;
}
.search__container .input__container .search__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: #701786;
  color: white;
  transition: all 0.2s;
  font-size: 10.8333333333px;
}
.search__container .input__container .search__btn:hover {
  background-color: transparent;
  border-left: 2px solid #701786;
  color: #701786;
}
.search__container .tags__container {
  width: 100%;
  height: auto;
  padding: 0.4rem;
  overflow: hidden;
}
.search__container .tags__container .tag__inner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.search__container .tags__container .tag__inner a {
  width: auto;
  border: 1px solid #DA9AF8;
  font-size: 10.8333333333px;
  background-color: #994BBD;
  color: white;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s;
}
.search__container .tags__container .tag__inner a:hover {
  background-color: transparent;
  border: 1px solid #994BBD;
  color: #994BBD;
}

.show {
  display: flex;
}

.carousel {
  position: relative;
  min-width: 300px;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5rem;
}
.carousel .btn__vermais {
  border: none;
  background: #FFE03B;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  transition: all 0.2s;
  font-size: fs-text;
  cursor: pointer;
}
.carousel .btn__vermais:hover {
  background-color: #ffd257;
}
.carousel .owl-nav {
  display: none;
}
.carousel .carousel-inicial {
  display: flex;
  transition: transform 0.3s ease;
}
.carousel .carousel-inicial .slide {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 2rem;
}
.carousel .carousel-inicial .slide:hover {
  transform: translateY(0px);
}
.carousel .carousel-inicial .slide img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-inicial .slide .texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  color: white;
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.carousel .carousel-inicial .slide .texto h1 {
  font-size: 16px;
}
.carousel .carousel-inicial .slide .texto p {
  width: 70%;
  font-size: 11.8181818182px;
}
.carousel .carousel-itens {
  display: flex;
  transition: transform 0.3s ease;
  touch-action: pan-y;
  gap: 35px;
  margin-top: 20px;
}
.carousel .carousel-itens .slide {
  transition: all ease 0.2s;
  border-radius: 5px;
  flex: 0 0 50%;
  height: 250px;
  overflow: hidden;
  display: flex;
  border-radius: 5px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-itens .slide:hover {
  transform: translateY(-10px);
}
.carousel .carousel-itens .slide p {
  color: #151515;
  font-size: 10.8333333333px;
}
.carousel .carousel-itens .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel .carousel-resenhas {
  display: flex;
  transition: transform 0.3s ease;
  touch-action: pan-y;
  gap: 12px;
  margin-top: 20px;
  padding: 0 30px 0 0;
}
.carousel .carousel-resenhas .slide {
  transition: all ease 0.2s;
  border-radius: 15px;
  flex: 0 0 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  overflow: hidden;
  transition: all ease 0.2s;
  background: #701786;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 3px 5px #151515;
}
.carousel .carousel-resenhas .slide:hover {
  transform: translateY(-10px);
}
.carousel .carousel-resenhas .slide .user {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}
.carousel .carousel-resenhas .slide .user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.carousel .carousel-resenhas .slide .user h4 {
  color: white;
  margin-left: 10px;
}
.carousel .carousel-resenhas .slide .trecho {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
}
.carousel .carousel-resenhas .slide .trecho .titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.carousel .carousel-resenhas .slide .trecho .titulo p {
  margin-top: 0;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffd257;
  padding: 5px;
  font-size: 13px;
}
.carousel .carousel-resenhas .slide .trecho p {
  margin-top: 15px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11.8181818182px;
  color: white;
}
.carousel .carousel-videos {
  display: flex;
  transition: transform 0.3s ease;
  touch-action: pan-y;
  gap: 20px;
}
.carousel .carousel-videos .slide {
  transition: all ease 0.2s;
  border-radius: 15px;
  flex: 0 0 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.carousel .carousel-videos .slide:hover {
  transform: translateY(-10px);
}
.carousel .carousel-videos .slide a {
  width: 100%;
  height: 100%;
}
.carousel .carousel-videos .slide a video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */