@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.premium_top {
  z-index: 1;
  position: relative;
  padding: 3rem;
  width: 100%;
  display: flex;
  background-color: var(--cor-fundo);
}
.premium_top .logotipo {
  z-index: 2;
  background-color: var(--cor-fundo);
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: var(--cor-principal);
  font-size: var(--fs-title);
}
.premium_top .logotipo img {
  width: 150px;
  height: 150px;
}
.premium_top .logotipo .slogan_plus {
  color: var(--cor-terciaria);
  font-size: var(--fs-title);
  letter-spacing: 3px;
}

.plano_btn {
  border: none;
  background-color: var(--cor-terciaria);
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background ease-in 0.2s;
  color: var(--cor-fundo);
  font-size: var(--fs-text);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
}
.plano_btn:hover {
  background-color: var(--cor-terciaria-escura);
}

.premium_planos {
  z-index: 2;
  width: 100%;
  margin: 3rem 0rem;
  color: var(--cor-texto);
}
.premium_planos .container_planos {
  width: 100%;
  display: flex;
  gap: 3rem;
  padding: 1rem;
  flex-flow: row wrap;
  justify-content: center;
}
.premium_planos .container_planos .plano {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 3rem 2.5rem;
  height: auto;
  border-top: 10px solid var(--cor-principal);
  box-shadow: 1px 1px 5px #8a8a8a;
  background-color: var(--cor-fundo);
  border-radius: 15px;
}
.premium_planos .container_planos .plano.comandante {
  border-top: 10px solid var(--cor-secundaria-clara);
}
.premium_planos .container_planos .plano.comandante .precos h1 {
  color: var(--cor-secundaria-escura);
}
.premium_planos .container_planos .plano h2 {
  font-size: 20px;
}
.premium_planos .container_planos .plano .precos h1 {
  font-size: 24px;
  color: var(--cor-principal);
}
.premium_planos .container_planos .plano .precos p {
  margin-top: 10px;
  font-size: var(--fs-text);
  width: 100%;
  letter-spacing: 2px;
}
.premium_planos .container_planos .plano ul {
  margin-top: 20px;
  margin-bottom: 70px;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.premium_planos .container_planos .plano ul li {
  margin: 1rem 0;
  color: var(--cor-texto);
}
.premium_planos .container_planos .plano ul li i {
  color: var(--cor-secundaria-escura);
  margin-right: 15px;
}
.premium_planos .container_planos .plano ul li span {
  color: var(--cor-terciaria);
  font-weight: bold;
}
.premium_planos .container_planos .plano .plano_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  bottom: 30px;
}

.premium_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(136, 134, 134, 0.3960784314);
  z-index: 1000;
  color: var(--cor-texto);
}
.premium_modal .close_btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 20px;
  color: var(--cor-terciaria-escura);
  cursor: pointer;
  font-weight: bold;
}
.premium_modal .close_btn:hover {
  color: var(--cor-terciaria);
}
.premium_modal .modal_content {
  width: 100%;
  max-width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-fundo);
  padding: 3rem;
  border-radius: 15px;
}
.premium_modal .modal_content span {
  color: var(--cor-terciaria);
}
.premium_modal .modal_content p {
  margin: 5px 0 20px 0;
}
.premium_modal .modal_content .inputs_plano {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  gap: 2rem;
}
.premium_modal .modal_content .btn {
  border: none;
  background-color: var(--cor-terciaria);
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background ease-in 0.2s;
  color: var(--cor-fundo);
  font-size: var(--fs-text);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
}
.premium_modal .modal_content .btn:hover {
  background-color: var(--cor-terciaria-escura);
}