@import '../../abstract/mixins';
@import '../../abstract/variaveis';

.search_modal{
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    padding: 1rem 10px;
    @include alignCenter(column,nowrap,start,center);
    background-color: rgba(0, 0, 0, 0.383);
    .close_btn{
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: $fs-title;
        color: $cor-principal-escura;
        cursor: pointer;
        font-weight: bold;
        &:hover{
            color: $cor-principal;
        }
    }
    .search_topItens{
        display: flex;
        align-items: center;
        width: 100%;
        flex-flow: column;
        
        .logotipo{
            background-color: $cor-fundo;
            border-radius: 50px;
            padding: 1rem 1.5rem;   
            a{
                display: flex;
                flex-direction: row;
                align-items: center ;
                font-weight: bold;
                
                img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    
    
    
    
    
        .searchInput_container{
            width:100%;
            max-width: 900px;
            height: 50px;
            background-color: $cor-fundo;
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 2rem 1.5rem;
            margin-top: 20px;
            input[type=text]{
                border: none;
                width: 100%;
                background-color: transparent;
                outline: none;
                color: $cor-texto;
                font-size: $fs-text;
                font-weight: bold;
                &::placeholder{
                    color: $cor-principal;
                }
    
            }
            .search_btn{
                font-size: $fs-title / 1.2;
                color: $cor-principal;
                background: transparent;
                border: none;
                padding: .2rem;
                outline: none;
                transition: all .2s;
                width: 50px;
                border-radius: 15px;
                cursor: pointer;
                &:hover{
                    color: $cor-texto;
                }
            }
          }  




    }
    .search_results{
        width: 100%;
        height: 50%;
        max-width: 900px;
        background-color: $cor-fundo;
        margin-top: 30px;
        border-radius: 10px;
        padding: 2rem 1rem;
        display: flex;
        p{  
            margin: auto;
            text-align: center;
        }
    }

    


              
}


.search_ativo{
    display: flex;
}